<!-- filtering -->
<c-row>
  <mat-progress-bar *ngIf="LoadingFinish == false" mode="indeterminate" #progressbar></mat-progress-bar>
</c-row>
<ngx-hover-opacity [isHoverVisible]="!LoadingFinish">
    <div class="filterGroup">

        <form [formGroup]="Form">
            <div class="filterGroup1">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>المنطقة</mat-label>
                    <input type="text" matInput formControlName="area_name" id="area_name" (keyup.enter)="focusNext('fname')" [matAutocomplete]="auto_area">
                    <mat-autocomplete #auto_area="matAutocomplete"
                      [displayWith]="displayAreaProperty.bind(this)">
                      <mat-option *ngFor="let option of List_AREA_Filter | async" [value]="option.Area_ID">
                        {{option.Area_Name}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
    
            </div>
    
                
                <div class="date">
                    <span>من تاريخ:</span>
                    <div class="content">
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>اليوم</mat-label>
                        <input type="number" matInput formControlName="startdateDay" id="startdateDay" (keyup.enter)="focusNext('fname')" placeholder="ex: 21">
                      </mat-form-field>
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>الشهر</mat-label>
                        <input type="number" matInput formControlName="startdateMonth" id="startdateMonth" (keyup.enter)="focusNext('fname')" placeholder="ex: 1">
                      </mat-form-field>
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>العام</mat-label>
                        <input type="number" matInput formControlName="startdateYear" id="startdateYear" (keyup.enter)="focusNext('fname')" placeholder="ex: 2023">
                      </mat-form-field>
                    </div>
                  </div>

                  <div class="date">
                    <span>الى تاريخ:</span>
                    <div class="content">
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>اليوم</mat-label>
                        <input type="number" matInput formControlName="enddateDay" id="enddateDay" (keyup.enter)="focusNext('fname')" placeholder="ex: 21">
                      </mat-form-field>
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>الشهر</mat-label>
                        <input type="number" matInput formControlName="enddateMonth" id="enddateMonth" (keyup.enter)="focusNext('fname')" placeholder="ex: 1">
                      </mat-form-field>
                      <mat-form-field class="example-full-width small-width" appearance="fill">
                        <mat-label>العام</mat-label>
                        <input type="number" matInput formControlName="enddateYear" id="enddateYear" (keyup.enter)="focusNext('fname')" placeholder="ex: 2023">
                      </mat-form-field>
                    </div>
                  </div>

        </form>
    
        
    </div>



<div>
    <h3>
        <button mat-raised-button color="primary" class="view" (click)="OnSearch()" accessControl  [FormName]="formname" [CheckedPrivilige]="'00100'">عرض</button>
    </h3>
</div>



<!-- <div infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollUpDistance]="1" [infiniteScrollThrottle]="100"
    (scrolled)="onScroll()" [scrollWindow]="false" style="height: 70%; overflow-y: scroll;"> -->

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <!-- area_name Column -->
        <ng-container matColumnDef="area_name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>المنطقة</th>
            <td mat-cell *matCellDef="let element">{{element.area_name }}</td>
        </ng-container>
        <!-- fullname Column -->
        <ng-container matColumnDef="fullname">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fullname">اسم المعلم المكلف </th>
            <td mat-cell *matCellDef="let element">{{element.fullname }}</td>
        </ng-container>
        <!-- daycount Column -->
        <ng-container matColumnDef="daycount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by daycount">ساعات الخدمة </th>
            <td mat-cell *matCellDef="let element">{{element.daycount }}</td>
        </ng-container>

        <!-- totaldaycount Column -->
        <ng-container matColumnDef="totaldaycount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by totaldaycount">مجموع ساعات الخدمة </th>
            <td mat-cell *matCellDef="let element">{{element.totaldaycount }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns; let idx=index;"
        [style.background-color]="rowClicked == idx ? 'yellow': 'none'"
        (click)="changeTableRowColor(idx)"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

<!-- </div> -->
</ngx-hover-opacity>