<form [formGroup]="myform" >

    <h1 mat-dialog-title> :: <strong>{{action}}</strong>   صفة تذييل الطباعة  </h1>
  
     <div mat-dialog-content>
  
      <div class="col-12" *ngIf="action != 'حذف'; else elseTemplate">
        <div class="col-12 row">
        <div class="col-6">
          <mat-form-field >
            <input placeholder="اسم صفة تذييل الطباعة" matInput
                  formControlName="footerh1_name">
          </mat-form-field>
        </div>
      </div>
    </div>
  
      <ng-template #elseTemplate>
          هل أنت متأكد من حذف صفة تذييل الطباعة <b>{{local_data.footerh1_name}}</b>؟
      </ng-template>
     </div>
     <div mat-dialog-actions>
      <button mat-button (click)="doAction()">{{action}}</button>
      <button mat-button (click)="closeDialog()" mat-flat-button color="warn">إالغاء</button>
     </div>
    </form>
  