@import '../../../../../../theme.scss';


table{
    width: 100%;
}

td, th{
    padding: 5px !important;
    text-align: center;
}


td{
    border-left: 1px solid rgba(8, 8, 8, 0.116);
    padding-inline: 2px !important;
}


.view{
    margin-bottom: 10px;
}

button{
    margin-left: 10px;
}

app-print-employee-shateb-page{
    display: none;
}

th{
    background-color: gray;
    color: white;
  }

  ::ng-deep .mat-sort-header-container{
    width: fit-content;
    margin-inline: auto;
  }


  mat-form-field{
    width: fit-content;
  }















  .darkTheme mat-form-field, .darkTheme ::ng-deep .mat-form-field-label{
    color: white !important;
}

.darkTheme ::ng-deep .mat-form-field-underline::before{
    background-color: white !important;
}

.darkTheme mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: $darkSecondary !important;
}

.darkTheme .save{
    color: white !important;
    background-color: $darkPrimary !important;
    }



::ng-deep .mat-form-field-label{
    height: 19px !important;
}


mat-form-field, ::ng-deep .mat-form-field-label{
    color: black !important;
}

.save{
    color: white !important;
    background-color: $lightPrimary !important;
}

::ng-deep .mat-form-field-underline::before{
    background-color: black !important;
}

mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: white !important;
}

.darkTheme ::ng-deep .mat-radio-outer-circle{
    border-color: white !important;
}

.darkTheme ::ng-deep .mat-radio-inner-circle{
    background-color: white !important;
}

.darkTheme .white{
    color: white;
}

.add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
    margin-block: 10px;
  }

  .darkTheme .add, .darkTheme .edit{
    color: white !important;
    background-color: $darkPrimary !important;
  }


  .darkTheme th,
  .darkTheme mat-paginator,
  .darkTheme ::ng-deep .mat-paginator-navigation-first,
  .darkTheme ::ng-deep .mat-paginator-navigation-previous,
  .darkTheme ::ng-deep .mat-paginator-navigation-next,
  .darkTheme ::ng-deep .mat-paginator-navigation-last,
  .darkTheme ::ng-deep .mat-select-arrow,
  .darkTheme ::ng-deep .mat-select-value,
  .darkTheme mat-paginator ::ng-deep .mat-form-field-underline,
  .darkTheme mat-paginator ::ng-deep .mat-form-field-flex{
    background-color: $darkBackground !important;
    color: white !important;
  }

  mat-accordion{
    margin-bottom: 10px;
  }

  .darkTheme .add, .darkTheme .edit{
    color: white !important;
    background-color: $darkPrimary !important;
  }

  .darkTheme .delete{
    background-color: $darkPrimary;
    margin-left: 5px;
  }

  .darkTheme tr{
    background-color: $darkSecondary;
  }

  .darkTheme td{
    color: white;
  }

  .darkTheme .mat-row:nth-child(even){
    background-color: $darkTableEven;
}
.darkTheme .mat-row:nth-child(odd){
    background-color: $darkSecondary;
}

::ng-deep .mat-form-field-label{
  height: 19px !important;
}

.darkTheme .click{
  color: white;
}







 th,
   mat-paginator,
   ::ng-deep .mat-paginator-navigation-first,
   ::ng-deep .mat-paginator-navigation-previous,
   ::ng-deep .mat-paginator-navigation-next,
   ::ng-deep .mat-paginator-navigation-last,
   ::ng-deep .mat-select-arrow,
   ::ng-deep .mat-select-value,
   mat-paginator ::ng-deep .mat-form-field-underline,
   mat-paginator ::ng-deep .mat-form-field-flex{
    background-color: $lightBackground !important;
    color: black !important;
  }

  .add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
  }

  .delete{
    background-color: $lightPrimary;
    margin-left: 5px;
  }

  .demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: $LightTableEven;
}
.mat-row:nth-child(odd){
    background-color: white;
}

.darkTheme mat-expansion-panel{
    background-color: $darkBackground !important;
    }
    
    .darkTheme ::ng-deep mat-panel-title, .darkTheme ::ng-deep mat-panel-description{
        color: white;
    }
    
    .darkTheme .white{
        color: white;
    }
    
    .darkTheme ::ng-deep .mat-expansion-indicator::after{
        color: white;
    }
    
    mat-expansion-panel{
        background-color: $lightBackground;
    }

.add:disabled, .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}

form{
    background-color: $lightBackground;
    padding: 20px;
}

.darkTheme form{
    background-color: $darkBackground;
}

.darkTheme textarea{
    background-color: $darkSecondary;
    color: white;
}



  .darkTheme ::ng-deep .mat-checkbox-frame{
    border-color: white !important;
}

.darkTheme .add:disabled , .darkTheme .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}



.mat-form-field-disabled, ::ng-deep .mat-form-field-disabled .mat-form-field-label{
    color: rgba(0,0,0,.26) !important;
  }

  mat-form-field.mat-form-field-disabled ::ng-deep  .mat-form-field-flex{
    background-color: rgba(0,0,0,.12) !important;
  }