<div class="theme" [class.darkTheme]="darkTheme">
  <div class="col-md-12 text-center ">
  </div>
  <div >
    <span class="click" >للإضافة على الجدول انقر على اضافة</span>
    <button style="margin-right: 10px" class="add" mat-raised-button (click)="Add()" [disabled]="Selected_Emp?.id== null" accessControl  [FormName]="formname" [CheckedPrivilige]="'00001'">اضافة</button>
  </div>
  
  <div class="col-md-12">
    <div class="table-wrap">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort >
        <!-- certificate_name Column -->
        <ng-container matColumnDef="certificate_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الشهادة</th>
          <td mat-cell *matCellDef="let element">{{element?.TBLShamelCertificate?.certificate_name}}</td>
        </ng-container>
  
        <!-- specification_name Column -->
        <ng-container matColumnDef="specification_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الاختصاص</th>
          <td mat-cell *matCellDef="let element">{{element?.TBLShamelSpecification?.specification_name}}</td>
        </ng-container>
  
        <!-- graduationyear Column -->
        <ng-container matColumnDef="graduationyear">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>سنة التخرج</th>
          <td mat-cell *matCellDef="let element">{{element.graduationyear}}</td>
        </ng-container>
  
  
  
        <!-- country_name Column -->
        <ng-container matColumnDef="country_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الدولة</th>
          <td mat-cell *matCellDef="let element">{{element?.TBLShamelCountry?.country_name}}</td>
        </ng-container>
  
        <!-- state_name Column -->
        <ng-container matColumnDef="state_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>المدينة</th>
          <td mat-cell *matCellDef="let element">{{element?.TBLShamelState?.state_name}}</td>
        </ng-container>
  
        <!-- rank_name Column -->
        <ng-container matColumnDef="rank_name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>التقييم</th>
          <td mat-cell *matCellDef="let element">{{element?.TBLShamelRank?.rank_name}}</td>
        </ng-container>
  
        <!-- studyduration Column -->
        <ng-container matColumnDef="studyduration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>مدة الدراسة</th>
          <td mat-cell *matCellDef="let element">{{element.studyduration}}</td>
        </ng-container>
  
  
        <ng-container matColumnDef="action">
          <tr>
            <th mat-header-cell *matHeaderCellDef> العمليات </th>
          </tr>
          <tr>
            <td mat-cell *matCellDef="let element" >
              <button mat-icon-button class="delete" color="warn" (click)="Delete(element)" title="View Contact">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button class="edit" (click)="Update(element)" title="Edit Contact">
                <mat-icon>edit</mat-icon>
              </button>
            </td>
          <tr>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  
      <mat-paginator #paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
  
  
  
    </div>
  </div>
</div>