:host
{
    font-size: small;
}

.mat-form-field
{
    width: 100% !important;
}


.mat-form-field-infix
{
    width: 100% !important;
}

.mat-grid-tile
{
    font-size: small!important;
}

.mat-icon
{
    font-size: smaller;
    font-weight: bold;
    vertical-align: middle;
}



.mat-button-toggle-group
{
    width: 100%;
}

.mat-button-toggle
{
    width:100%;
}

mat-list-item
{
    cursor: pointer; 
}



mat-list-item:hover {
    background: #76b900 !important;
  }