<h1 mat-dialog-title>تعديل السجل</h1>
<div mat-dialog-content>
  <c-container>
    <mat-card>
      <mat-card-title>شطب الاجازات </mat-card-title>
  
      <mat-card-content>
        <c-container breakpoint="sm">
        <form class="example-form" [formGroup]="Form" #form="ngForm">
         
  
            <c-row>
              <c-col>
                <mat-form-field color="primary" id="id" appearance="fill">
                  <mat-label>الإضبارة</mat-label>
                  <input matInput formControlName="id" (change)="OnIdChange($event)">
                  <mat-error *ngIf="Form.controls['id'].hasError('uniq1')">sdd</mat-error>
                  <mat-error *ngIf="Form.controls['id'].hasError('required')">sdd1</mat-error>
                </mat-form-field>
              </c-col>
              <c-col>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>اسم الموظف</mat-label>
                  <input matInput [matAutocomplete]="auto_empName" formControlName='fullname' required>
                  <mat-autocomplete #auto_empName="matAutocomplete" [displayWith]="displayFn"
                    (optionSelected)="onEmployeeSelected($event)">
                    <mat-option *ngIf="isLoading" class="is-loading">
                      <mat-spinner diameter="50"></mat-spinner>
                    </mat-option>
                    <ng-container *ngIf="!isLoading">
                      <mat-option *ngFor="let emp of List_Employee_Filter | async" [value]="emp">
                        <small>{{ emp.fullname }}</small>
                      </mat-option>
                    </ng-container>
                  </mat-autocomplete>
                </mat-form-field>
              </c-col>
            </c-row>
            <c-row>
              <!--  [displayWith]="displayFn"  -->
  
  
            </c-row>
  
            <c-row>
              <c-col>
                <mat-form-field class="example-full-width fitContent" appearance="fill">
                  <mat-label>نوع الحسم</mat-label>
                  <input matInput formControlName="healthnosalary_name" [matAutocomplete]="auto_healthnosalary_name"
                    required>
                  <mat-autocomplete #auto_healthnosalary_name="matAutocomplete">
                    <mat-option *ngFor="let option of List_HealthNoSalary_Filter | async"
                      [value]="option.healthnosalary_name">
                      {{option.healthnosalary_name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </c-col>
              <c-col>
  
              </c-col>
  
            </c-row>
  
            <c-row>
  
              <c-col>
                <mat-form-field color="primary" id="id" class="" appearance="fill">
                  <mat-label>المدة</mat-label>
                  <input type="number" matInput formControlName="duration" required>
                </mat-form-field>
              </c-col>
              <c-col>
                <mat-form-field color="primary" id="id" class="" appearance="fill">
                  <mat-label>بدء الإجازة</mat-label>
                  <input matInput [matDatepicker]="picker_startdate" formControlName="startdate" required>
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matSuffix [for]="picker_startdate"></mat-datepicker-toggle>
                  <mat-datepicker #picker_startdate></mat-datepicker>
                </mat-form-field>
              </c-col>
  
  
            </c-row>
            <c-row>
  
              <c-col>
  
  
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>المستند</mat-label>
                  <input type="text" matInput formControlName="documenttype_id" [matAutocomplete]="auto_documenttype_id">
                  <mat-autocomplete #auto_documenttype_id="matAutocomplete"
                    [displayWith]="displayDocumentTypeProperty.bind(this)">
                    <mat-option *ngFor="let option of List_DocumentType_Filter | async" [value]="option.documenttype_id">
                      {{option.documenttype_name}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </c-col>
              <c-col>
                <mat-form-field color="primary" id="id" class="" appearance="fill">
                  <mat-label>رقم المستند</mat-label>
                  <input matInput formControlName="documentnum" required>
                </mat-form-field>
              </c-col>
  
            </c-row>
  
            <c-row>
              <c-col>
                <div class="date">
                  <span>تاريخ المستند:</span>
                  <div class="content">
                    <mat-form-field class="example-full-width small-width" appearance="fill">
                      <mat-label>اليوم</mat-label>
                      <input type="number" matInput formControlName="documentdate_Day" placeholder="ex: 21">
                    </mat-form-field>
                    <mat-form-field class="example-full-width small-width" appearance="fill">
                      <mat-label>الشهر</mat-label>
                      <input type="number" matInput formControlName="documentdate_Month" placeholder="ex: 1">
                    </mat-form-field>
                    <mat-form-field class="example-full-width small-width" appearance="fill">
                      <mat-label>العام</mat-label>
                      <input type="number" matInput formControlName="documentdate_Year" placeholder="ex: 2023">
                    </mat-form-field>
                  </div>
                </div>
              </c-col>
              <c-col>
  
              </c-col>
            </c-row>
            <c-row>
              <c-col>
                <mat-form-field color="primary" id="id" class="" appearance="fill">
                  <mat-label>الراتب</mat-label>
                  <input type="number" matInput formControlName="salary" required>
                </mat-form-field>
              </c-col>
              <c-col>
                <mat-form-field color="primary" class="" appearance="fill">
                  <mat-label>المبلغ</mat-label>
                  <input type="number" matInput formControlName="amount" required>
                </mat-form-field>
              </c-col>
            </c-row>
            <c-row>
  
            </c-row>
         
        </form>
      </c-container>
      </mat-card-content>
  
      <mat-card-actions>
        <button mat-raised-button (click)="onNoClick()">
          <mat-icon class="mat-icon-rtl-mirror">close
          </mat-icon>
          إلغاء الأمر</button>
        <button mat-raised-button color="primary" (click)="save()" [mat-dialog-close]="data" cdkFocusInitial
          [disabled]="!form.valid">
          <mat-icon class="mat-icon-rtl-mirror">save
          </mat-icon>
          حفظ</button>
      </mat-card-actions>
    </mat-card>
  
  
  
  
  </c-container>
</div>

