<h2 mat-dialog-title>الوضع الوظيفي</h2>

<mat-dialog-content class="mat-typography">


  <form [formGroup]="Form">

    <div class="row justify-content-between text-left">
      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>المرسوم</mat-label>
          <input type="text" matInput [formControl]="incmarsoom_id" formControlName="incmarsoom_id"
            [matAutocomplete]="auto_incmarsoom_id">
          <mat-error *ngIf="errorHandling('incmarsoom_id', 'required')">
            اختر المرسوم
          </mat-error>
          <mat-error
            *ngIf="(( incmarsoom_id.invalid ||  incmarsoom_id.errors)  && ( incmarsoom_id.dirty ||  incmarsoom_id.touched) )">
            اختر المرسوم
          </mat-error>
          <mat-hint
            *ngIf="(( incmarsoom_id.invalid ||  incmarsoom_id.errors)  && ( incmarsoom_id.dirty ||  incmarsoom_id.touched) )">
            <span class="mat-error">اختر المرسوم</span>
          </mat-hint>
          <mat-autocomplete #auto_incmarsoom_id="matAutocomplete" [displayWith]="displayMarsoomProperty.bind(this)"
            (optionSelected)="OnSelectMarsoomChange($event)">
            <mat-option *ngFor="let option of filteredMarsoomOptions | async" [value]="option.incmarsoom_id">
              {{option.incmarsoomdata}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

        <div class="date">
          <span>تاريخ التبدل:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="changeDateChange('day')" [(ngModel)]='changeDateDay' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="changeDateChange('month')" [(ngModel)]='changeDateMonth' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="changeDateChange('year')" [(ngModel)]='changeDateYear' [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          </div>
        </div>


      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> سبب التبدل</mat-label>
          <input type="text" matInput [formControl]="changereason_id" [matAutocomplete]="auto_changereason_id">
          <mat-autocomplete #auto_changereason_id="matAutocomplete"
            [displayWith]="displayChangeReasonProperty.bind(this)"
            (optionSelected)="OnSelectChangeReasonChange($event)">
            <mat-option *ngFor="let option of filteredChangeReasonOptions | async" [value]="option.changereason_id">
              {{option.changereason_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <div class="row justify-content-between text-left">
      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> القسم </mat-label>
          <input type="text" matInput [formControl]="department_id" [matAutocomplete]="auto_department_id">
          <mat-autocomplete #auto_department_id="matAutocomplete" [displayWith]="displayDeparmentProperty.bind(this)"
            (optionSelected)="OnSelectDepartmentChange($event)">
            <mat-option *ngFor="let option of filteredDepartmentOptions | async" [value]="option.department_id">
              {{option.department_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


      </div>
      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> اسم الوظيفة</mat-label>
          <input type="text" matInput [formControl]="jobname_id" [matAutocomplete]="auto_jobname_id">
          <mat-autocomplete #auto_jobname_id="matAutocomplete" [displayWith]="displayJobNameProperty.bind(this)"
            (optionSelected)="OnSelectJobNameChange($event)">
            <mat-option *ngFor="let option of filteredJobNameOptions | async" [value]="option.jobname_id">
              {{option.jobname_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> المركز الوظيفي </mat-label>
          <input type="text" matInput [formControl]="jobkind_id" [matAutocomplete]="auto_jobkind_id">
          <mat-autocomplete #auto_jobkind_id="matAutocomplete" [displayWith]="displayJobKindProperty.bind(this)"
            (optionSelected)="OnSelectJobKindChange($event)">
            <mat-option *ngFor="let option of filteredJobKindOptions  | async" [value]="option.jobkind_id">
              {{option.jobkind_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
    </div>

    <div class="row  text-left">

      <div class="form-group col-sm-4 flex-column d-flex">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> الفئة </mat-label>
          <input type="text" matInput [formControl]="class_id" [matAutocomplete]="auto_class_id">
          <mat-autocomplete #auto_class_id="matAutocomplete" [displayWith]="displayClassProperty.bind(this)"
            (optionSelected)="OnSelectClassChange($event)">
            <mat-option *ngFor="let option of filteredClassOptions  | async" [value]="option.class_id">
              {{option.class_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


      </div>

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>الراتب</mat-label>
          <input matInput type="number" [formControl]="salary"
            [(ngModel)]="Selected_Employee_JobState.salary">
        </mat-form-field>
      </div>


        <div class="date">
          <span>تاريخ المباشرة:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="beginDateChange('day')" [(ngModel)]='beginDateDay' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="beginDateChange('month')" [(ngModel)]='beginDateMonth' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="beginDateChange('year')" [(ngModel)]='beginDateYear' [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          </div>
        </div>



    </div>






    <div class="row text-left">
      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label> المستند</mat-label>
          <input type="text" matInput [formControl]="documenttype_id" [matAutocomplete]="auto_documenttype_id">
          <mat-autocomplete #auto_documenttype_id="matAutocomplete"
            [displayWith]="displayDocumentTypeProperty.bind(this)"
            (optionSelected)="OnSelectDocumentTypeChange($event)">
            <mat-option *ngFor="let option of filteredDocumentTypeOptions | async" [value]="option.documenttype_id">
              {{option.documenttype_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="form-group col-sm-4 flex-column d-flex">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>رقم المستند</mat-label>
          <input matInput type="number" [formControl]="doc_number">
        </mat-form-field>
      </div>
        <div class="date">
          <span>تاريخ المستند:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="docDateChange('day')" [(ngModel)]='docDateDay' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="docDateChange('month')" [(ngModel)]='docDateMonth' [ngModelOptions]="{standalone: true}">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="docDateChange('year')" [(ngModel)]='docDateYear' [ngModelOptions]="{standalone: true}">
          </mat-form-field>
          </div>
      </div>
    </div>

































  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon class="mat-icon-rtl-mirror">close
    </mat-icon>
    اغلاق
  </button>





  <button mat-raised-button color="accent" (click)="onReset()">
    <mat-icon class="mat-icon-rtl-mirror">clear
    </mat-icon>
    مسح الشاشة
  </button>


  <button mat-raised-button color="primary" cdkFocusInitial (click)="Save()">
    <mat-icon class="mat-icon-rtl-mirror">save
    </mat-icon>
    حفظ
  </button>

</mat-dialog-actions>