<div class=WordSection1>

    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr style='height:1.2pt'>
      <td width=208 rowspan=2 style='width:155.8pt;padding:0in 5.4pt 0in 5.4pt;
      height:1.2pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>وزارة التربية<br>
      مديرية التربية </span><span dir=ltr></span><span dir=ltr><span dir=ltr></span>/</span><span
      dir=rtl></span><span lang=AR-SY style='font-family:"Arial",sans-serif'><span
      dir=rtl></span> ادلب</span></p>
      </td>
      <td width=208 rowspan=2 style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt;
      height:1.2pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>صفحة شطب لعام 2022</span></p>
      </td>
      <td width=310 style='width:232.25pt;padding:0in 5.4pt 0in 5.4pt;height:1.2pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>اسم العامل: محمد</span></p>
      </td>
     </tr>
     <tr style='height:1.2pt'>
      <td width=310 style='width:232.25pt;padding:0in 5.4pt 0in 5.4pt;height:1.2pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>رقم الإضبارة: 20399</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center style='text-align:center'><span lang=AR-SA
    dir=rtl style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=50 valign=top style='width:37.65pt;border:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>التسلسل</span></p>
      </td>
      <td width=106 valign=top style='width:79.55pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>البيان</span></p>
      </td>
      <td width=16 valign=top style='width:11.8pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>كانون الثاني</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>شباط</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>اذار</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>نيسان</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>أيار</span></p>
      </td>
      <td width=51 valign=top style='width:38.25pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>حزيران</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>تموز</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>اب</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>ايلول</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>تشرين الأول</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>تشرين الثاني</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border:solid windowtext 1.0pt;
      border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>كانون الأول</span></p>
      </td>
     </tr>
     <tr>
      <td width=50 valign=top style='width:37.65pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=106 valign=top style='width:79.55pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=16 valign=top style='width:11.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=51 valign=top style='width:38.25pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
      <td width=45 valign=top style='width:33.4pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>&nbsp;</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span dir=ltr>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=146 style='width:109.6pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>الموظف المختص</span></p>
      </td>
      <td width=136 style='width:101.9pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>رئيس الشؤون الإدارية</span></p>
      </td>
      <td width=120 style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>مدير التربية بادلب</span></p>
      </td>
      <td width=120 valign=top style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>الموظف المختص</span></p>
      </td>
      <td width=126 valign=top style='width:94.5pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>الموظف المختص</span></p>
      </td>
     </tr>
     <tr>
      <td width=146 style='width:109.6pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>رباح يسين</span></p>
      </td>
      <td width=136 style='width:101.9pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>احمد الطه</span></p>
      </td>
      <td width=120 style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>محمود أحمد سحاري</span></p>
      </td>
      <td width=120 valign=top style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>رباح يسين</span></p>
      </td>
      <td width=126 valign=top style='width:94.5pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>رباح يسين</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span dir=ltr>&nbsp;</span></p>
    
    </div>