.fitContent{
    width: fit-content;
}

tr:nth-child(even) {background: #CCC};
td{
    border-right: black solid 1px;
}

table{
    width: 100%;
}

form{
    display: flex;
}

.right, .left{
    display: flex;
    flex-direction: column;
}

.oldDate{
    width: 260px;
}

#view{
    margin-right: 10px;
}

mat-form-field{
    margin-left: 10px;
}

td, th{
    padding: 10px;
}

.demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: rgb(182, 182, 182);
}
.mat-row:nth-child(odd){
    background-color: white;
}

.date .content{
    display: flex;
}

.hideDate{
    display: none !important;
}

.small-width{
    width: 90px;
    margin-left: 10px;
}

th{
    background-color: gray;
    color: white;
  }