<span class="title">برمجة التعويض والحسم</span>

<c-container>
    <c-row>
        <c-col>
        </c-col>
        <c-col>
        </c-col>
        <c-col>
        </c-col>


    </c-row>
</c-container>
<div class="boxes">
    <div class="right">
        <span class="title1">التعويضات الدائمة والمؤقتة</span>
        <button mat-raised-button color="primary" (click)="Add_Tawid()">اضافة تعويض +</button>        
        <div class="spanBox spanBox1">
            <span> اسم التعويض على الطابعة</span>
            <span>اسم التعويض على الشاشة</span>
            <span>جبر الكسور</span>
            <span>نوع الراتب الذي سوف يطبق عليه الاحتساب</span>
            <span>الترتيب</span>
            <span>هل التعويض يدخل في الضريبة؟</span>
            <span>هل التعويض يدخل في المجموع؟</span>
            <span>هل التعويض يدخل في التخصص؟</span>
        </div>
        <app-sub-tblshamel-new-payrol-tax 
         [index]="i" 
         [payroltaxtype]="'ta3weed'"
         (OnDelete)="Delete($event)"
        *ngFor="let item of tblShamelNewPayrolTaxService.List_ta3weed ; index as i">
    </app-sub-tblshamel-new-payrol-tax>
            

    </div>
    <div class="middle">
        <span class="title2">الحسميات الدائمة والمؤقتة</span>
        <button mat-raised-button color="primary" (click)="Add_Tax()">إضافة حسمية دائمة أو مؤقتة +</button>        
        <div class="spanBox spanBox2">
            <span>اسم الحسمية على الطابعة</span>
            <span>اسم الحسمية على الشاشة</span>
            <span>النسبة</span>
            <span>الترتيب</span>
            <span>نوع الراتب الذي سوف يطبق عليه الاحتساب</span>
        </div>
        <app-sub-tblshamel-new-payrol-tax  [index]="i" [payroltaxtype]="'taxtemp'"
        *ngFor="let item of tblShamelNewPayrolTaxService.List_taxtemp ; index as i" (OnDelete)="Delete($event)">
    </app-sub-tblshamel-new-payrol-tax>

    </div>
    <div class="left">
        <span class="title3">الحسميات ذات الأرصدة</span>
        <button mat-raised-button color="primary" (click)="Add_Recurr()">إضافة حسمية ذات أرصدة +</button>        
        <div class="spanBox spanBox3">
            <span>اسم الحسمية على الطابعة</span>
            <span>اسم الحسمية على الشاشة</span>
            <span>الترتيب</span>
            <span>نوع الراتب الذي سوف يطبق عليه الاحتساب</span>
        </div>
    


        <app-sub-tblshamel-new-payrol-tax  
        [index]="i" 
        [payroltaxtype]="'recurr'"
        (OnDelete)="Delete($event)"
        *ngFor="let item of tblShamelNewPayrolTaxService.List_recurr  ; index as i">
    
    </app-sub-tblshamel-new-payrol-tax>
    </div>
</div>


<button id="saveButton" mat-raised-button color="primary" (click)="save()">حفظ</button>

