.title{
    background-color: rgb(228, 189, 81);
    color: white;
    padding: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.title1, .title2, .title3{
    background-color: rgb(228, 189, 81);
    color: white;
    padding: 10px;
    display: inline-block;
    width: fit-content;
}

.spanBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 113px !important;

    span{
        margin-left: 10px;
    }
} 

.spanBox1{
    width: 880px;
    span:first-child{
        width: 208px;;
    }

    span:nth-child(2){
        width: 200px;
    }

    span:nth-child(3){
        width: 177px;
    }

    span:nth-child(4){
        width: 385px;
    }

    span:nth-child(5){
        width: 137px;
    }

}

.spanBox2{
    width: 766px;

    span:first-child{
        width: 918px
    }

    span:nth-child(2){
        width: 888px;
    }

    span:nth-child(3){
        width: 400px;
    }

    span:nth-child(4){
        width: 369px;
    }

    span:nth-child(5){
        width: 669px;
    }
}

.spanBox3{
    width: 696px;

    span:first-child{
        width: 189px
    }

    span:nth-child(2){
        width: 178px;
    }

    span:nth-child(3){
        width: 71px;
    }

    span:nth-child(4){
        width: 182px;
    }
}

.right{
    margin-top: 50px;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

button{
    display: block;
    margin-top: 30px;
}