@import '../../../../../../../theme.scss';


.title{
    background-color: rgb(228, 189, 81);
    color: white;
    padding: 10px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.title1, .title2, .title3{
    background-color: rgb(228, 189, 81);
    color: white;
    padding: 10px;
    display: inline-block;
    width: fit-content;
}

.spanBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 113px !important;

    span{
        margin-left: 10px;
    }
} 

.spanBox1{
    width: 880px;
    span:first-child{
        width: 208px;;
    }

    span:nth-child(2){
        width: 200px;
    }

    span:nth-child(3){
        width: 177px;
    }

    span:nth-child(4){
        width: 385px;
    }

    span:nth-child(5){
        width: 137px;
    }

}

.spanBox2{
    width: 766px;

    span:first-child{
        width: 918px
    }

    span:nth-child(2){
        width: 888px;
    }

    span:nth-child(3){
        width: 400px;
    }

    span:nth-child(4){
        width: 369px;
    }

    span:nth-child(5){
        width: 669px;
    }
}

.spanBox3{
    width: 696px;

    span:first-child{
        width: 189px
    }

    span:nth-child(2){
        width: 178px;
    }

    span:nth-child(3){
        width: 71px;
    }

    span:nth-child(4){
        width: 182px;
    }
}

.right{
    margin-top: 50px;
}

.boxes{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

button{
    display: block;
    margin-top: 30px;
}

#saveButton, #DeleteAllButton, #addFromOldPayRollAdd{
    display: inline-block;
    margin-left: 10px
}











.darkTheme mat-form-field, .darkTheme ::ng-deep .mat-form-field-label{
    color: white !important;
}

.darkTheme ::ng-deep .mat-form-field-underline::before{
    background-color: white !important;
}

.darkTheme mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: $darkSecondary !important;
}

.darkTheme .save{
    color: white !important;
    background-color: $darkPrimary !important;
    }



::ng-deep .mat-form-field-label{
    height: 19px !important;
}


mat-form-field, ::ng-deep .mat-form-field-label{
    color: black !important;
}

.save{
    color: white !important;
    background-color: $lightPrimary !important;
}

::ng-deep .mat-form-field-underline::before{
    background-color: black !important;
}

mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: white !important;
}

.darkTheme ::ng-deep .mat-radio-outer-circle{
    border-color: white !important;
}

.darkTheme ::ng-deep .mat-radio-inner-circle{
    background-color: white !important;
}

.darkTheme .white{
    color: white;
}

.add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
    margin-block: 10px;
  }

  .darkTheme .add, .darkTheme .edit{
    color: white !important;
    background-color: $darkPrimary !important;
  }


  .darkTheme th,
  .darkTheme mat-paginator,
  .darkTheme ::ng-deep .mat-paginator-navigation-first,
  .darkTheme ::ng-deep .mat-paginator-navigation-previous,
  .darkTheme ::ng-deep .mat-paginator-navigation-next,
  .darkTheme ::ng-deep .mat-paginator-navigation-last,
  .darkTheme ::ng-deep .mat-select-arrow,
  .darkTheme ::ng-deep .mat-select-value,
  .darkTheme mat-paginator ::ng-deep .mat-form-field-underline,
  .darkTheme mat-paginator ::ng-deep .mat-form-field-flex{
    background-color: $darkBackground !important;
    color: white !important;
  }

  mat-accordion{
    margin-bottom: 10px;
  }

  .darkTheme .add, .darkTheme .edit{
    color: white !important;
    background-color: $darkPrimary !important;
  }

  .darkTheme .delete{
    background-color: $darkPrimary;
    margin-left: 5px;
  }

  .darkTheme tr{
    background-color: $darkSecondary;
  }

  .darkTheme td{
    color: white;
  }

  .darkTheme .mat-row:nth-child(even){
    background-color: $darkTableEven;
}
.darkTheme .mat-row:nth-child(odd){
    background-color: $darkSecondary;
}

::ng-deep .mat-form-field-label{
  height: 19px !important;
}

.darkTheme .click{
  color: white;
}







 th,
   mat-paginator,
   ::ng-deep .mat-paginator-navigation-first,
   ::ng-deep .mat-paginator-navigation-previous,
   ::ng-deep .mat-paginator-navigation-next,
   ::ng-deep .mat-paginator-navigation-last,
   ::ng-deep .mat-select-arrow,
   ::ng-deep .mat-select-value,
   mat-paginator ::ng-deep .mat-form-field-underline,
   mat-paginator ::ng-deep .mat-form-field-flex{
    background-color: $lightBackground !important;
    color: black !important;
  }

  .add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
  }

  .delete{
    background-color: $lightPrimary;
    margin-left: 5px;
  }

  .demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: $LightTableEven;
}
.mat-row:nth-child(odd){
    background-color: white;
}

.darkTheme mat-expansion-panel{
    background-color: $darkBackground !important;
    }
    
    .darkTheme ::ng-deep mat-panel-title, .darkTheme ::ng-deep mat-panel-description{
        color: white;
    }
    
    .darkTheme .white{
        color: white;
    }
    
    .darkTheme ::ng-deep .mat-expansion-indicator::after{
        color: white;
    }
    
    mat-expansion-panel{
        background-color: $lightBackground;
    }

.add:disabled, .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}

form{
    background-color: $lightBackground;
    padding: 20px;
}

.darkTheme form{
    background-color: $darkBackground;
}

.darkTheme textarea{
    background-color: $darkSecondary;
    color: white;
}



  .darkTheme ::ng-deep .mat-checkbox-frame{
    border-color: white !important;
}

.darkTheme .add:disabled , .darkTheme .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}



.mat-form-field-disabled, ::ng-deep .mat-form-field-disabled .mat-form-field-label{
    color: rgba(0,0,0,.26) !important;
  }

  mat-form-field.mat-form-field-disabled ::ng-deep  .mat-form-field-flex{
    background-color: rgba(0,0,0,.12) !important;
  }