<h1 mat-dialog-title>تعديل السجل</h1>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="Form" #form="ngForm">
      <mat-form-field color="primary" id="id" appearance="fill">
        <mat-label>الإضبارة</mat-label>
        <input matInput formControlName="id" (change)="OnIdChange($event)">
        <mat-error *ngIf="Form.controls['id'].hasError('uniq1')">sdd</mat-error>
        <mat-error *ngIf="Form.controls['id'].hasError('required')">sdd1</mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>اسم الموظف</mat-label>
        <input matInput [matAutocomplete]="auto_empName" formControlName='fullname' required>
        <mat-autocomplete #auto_empName="matAutocomplete" [displayWith]="displayFn"
          (optionSelected)="onEmployeeSelected($event)">
          <mat-option *ngIf="isLoading" class="is-loading">
            <mat-spinner diameter="50"></mat-spinner>
          </mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let emp of List_Employee_Filter | async" [value]="emp">
              <small>{{ emp.fullname }}</small>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
      </mat-form-field>

        <mat-form-field color="primary" class="" appearance="fill">
            <mat-label>النسبة</mat-label>
            <input type="number" matInput formControlName="percent" required>
        </mat-form-field>

        <mat-form-field color="primary" class="" appearance="fill">
            <mat-label>المدة</mat-label>
            <input matInput formControlName="duration" required>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>المستند</mat-label>
          <input type="text" matInput formControlName="documenttype_id" [matAutocomplete]="auto_documenttype_id">
          <mat-autocomplete #auto_documenttype_id="matAutocomplete"
            [displayWith]="displayDocumentTypeProperty.bind(this)">
            <mat-option *ngFor="let option of List_DocumentType_Filter | async" [value]="option.documenttype_id">
              {{option.documenttype_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field color="primary" class="" appearance="fill">
            <mat-label>رقم المستند</mat-label>
            <input matInput formControlName="documentnum" required>
        </mat-form-field>

        <mat-form-field color="primary" class="" appearance="fill">
            <mat-label>تاريخ المستند</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="documentdate" required>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field color="primary"  id="id" class="" appearance="fill">
            <mat-label>الراتب</mat-label>
            <input type="number" matInput formControlName="salary">
        </mat-form-field>

        <mat-form-field color="primary"  id="id" class="" appearance="fill">
            <mat-label>المبلغ</mat-label>
            <input type="number" matInput formControlName="amount">
        </mat-form-field>

    </form>
</div>

<div mat-dialog-actions>
    <button mat-raised-button (click)="onNoClick()">
      <mat-icon class="mat-icon-rtl-mirror">close
      </mat-icon>
      إلغاء الأمر</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="data" cdkFocusInitial
    (click)="save()" [disabled]="!form.valid">
    <mat-icon class="mat-icon-rtl-mirror">save
    </mat-icon>
    حفظ</button>
</div>