.dateLabel{
    background-color: gray;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    width: fit-content;
}

.date .content{
    display: flex;
}

.hideDate{
    display: none !important;
}

.small-width{
    width: 90px;
    margin-left: 10px;
}

.oldDate{
    width: 260px;
}

mat-radio-group{
    display: flex;
    flex-direction: column;
    height: 60px;
    justify-content: space-between;
    margin-left: 10px;
}

output{
    background-color: rgb(196, 196, 196);
    width: 50px;
    height: 30px;
    display: inline-flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

button{
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
}

mat-progress-bar{
    margin-block: 10px;
    width: 50%;
    margin-left: 10px;
}

mat-form-field{
    margin-left: 10px;
}

.progressBox{
    display: flex;
}

textarea {
    resize: none;
 }

 form{
     display: flex;
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
     padding: 10px;
 }