form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    mat-form-field{
        margin-left: 20px;
    }
}

table{
    width: 100%;
}

td, th{
    padding: 5px !important;
}

.demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: rgb(182, 182, 182);
}
.mat-row:nth-child(odd){
    background-color: white;
}

mat-radio-group{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;

    background: transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    mat-radio-button{
        margin-bottom: 4px;
    }
}

.view{
    margin-bottom: 10px;
}



  .table-wrap{
    overflow-x: scroll;
  }

  button{
      margin-left: 10px;
  }

  app-print-rank{
      display: none;
  }

  th{
    background-color: gray;
    color: white;
  }