<label class="theme">
	<!-- <span style="color: white" style="display: inline-block;">Light</span> -->
	<span class="theme__toggle-wrap" style="display: inline-block;">
        <div >
    		<input class="theme__toggle" type="checkbox" role="switch" name="theme" value="dark" (click)="onToggleClick()">
            <!-- <span class="theme__fill" ></span> -->
            <span class="theme__icon" >
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
                <span class="theme__icon-part"></span>
            </span>
        </div>        
        
	</span>
	<!-- <span style="color: white" style="display: inline-block;">Dark</span> -->
</label>