<div class="theme" [class.darkTheme]="darkTheme">
  <mat-dialog-content class="mat-typography">
    <form [formGroup]="Form">
        
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>دورة الترفيع</mat-label>
            <input matInput type="number" value="" [formControl]="upgradeYear"
            id="upgradeYear" (keyup.enter)="focusNext('StartDay')">
        </mat-form-field>

        <div class="date">
            <span>بداية دورة الترفيع:</span>
            <div class="content">
              <mat-form-field class="example-full-width small-width" appearance="fill">
                <mat-label>اليوم</mat-label>
                <input type="number" matInput [formControl]="StartDay" (change)="onStartDayChange()"
                placeholder="ex: 21"
                id="StartDay" (keyup.enter)="focusNext('StartMonth')">
              </mat-form-field>
              <mat-form-field class="example-full-width small-width" appearance="fill">
                <mat-label>الشهر</mat-label>
                <input type="number" matInput [formControl]="StartMonth" (change)="onStartMonthChange()"
                placeholder="ex: 1"
                id="StartMonth" (keyup.enter)="focusNext('StartYear')">
              </mat-form-field>
              <mat-form-field class="example-full-width small-width" appearance="fill">
                <mat-label>العام</mat-label>
                <input type="number" matInput [formControl]="StartYear" (change)="onStartYearChange()"
                placeholder="ex: 2023"
                id="StartYear" (keyup.enter)="focusNext('endDay')">
              </mat-form-field>
            </div>
          </div>

        <div class="date">
            <span>نهاية دورة الترفيع:</span>
            <div class="content">
              <mat-form-field class="example-full-width small-width" appearance="fill">
                <mat-label>اليوم</mat-label>
                <input type="number" matInput [formControl]="endDay" (change)="onEndDayChange()"
                placeholder="ex: 21"
                id="endDay" (keyup.enter)="focusNext('endMonth')">
              </mat-form-field>
              <mat-form-field class="example-full-width small-width" appearance="fill">
                <mat-label>الشهر</mat-label>
                <input type="number" matInput [formControl]="endMonth" (change)="onEndMonthChange()"
                placeholder="ex: 1"
                id="endMonth" (keyup.enter)="focusNext('endYear')">
              </mat-form-field>
              <mat-form-field class="example-full-width small-width" appearance="fill">
                <mat-label>العام</mat-label>
                <input type="number" matInput [formControl]="endYear" (change)="onEndYearChange()"
                placeholder="ex: 2023"
                id="endYear" (keyup.enter)="focusNext('upgradeYear')">
              </mat-form-field>
            </div>
          </div>

        <mat-checkbox color="primary" [formControl]="fix">تثبيت دورة الترفيع</mat-checkbox>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" [mat-dialog-close]="false">
        <mat-icon class="mat-icon-rtl-mirror">close
        </mat-icon>
        اغلاق
    </button>





    <button mat-raised-button color="accent" (click)="onReset()">
        <mat-icon class="mat-icon-rtl-mirror">clear
        </mat-icon>
        مسح الشاشة
    </button>


    <button mat-raised-button class="add" cdkFocusInitial (click)="Save()" [mat-dialog-close]="true"
        [disabled]="Form.invalid   ">
        <mat-icon class="mat-icon-rtl-mirror">save
        </mat-icon>
        حفظ
    </button>

</mat-dialog-actions>
</div>