@import '../../../../../../theme.scss';

:host
{
    font-size: small;
}

.mat-form-field
{
    width: 100% !important;
}


.mat-form-field-infix
{
    width: 100% !important;
}


  button{
   line-height: 3;
    color: white;
    font-size: smaller;
    height: auto;
    width: auto;
    display: inline-block;
    margin-left: 10px;
}



.darkTheme mat-form-field, .darkTheme ::ng-deep .mat-form-field-label{
    color: white !important;
}

.darkTheme ::ngg-deep .mat-form-field-underline::before{
    background-color: white !important;
}

.darkTheme mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: $darkSecondary !important;
}

.darkTheme button{
    color: white !important;
    background-color: $darkPrimary !important;
  }

.darkTheme ::ng-deep .mat-form-field-label{
    height: 19px !important;
}




button{
    color: white !important;
    background-color: $lightPrimary !important;
}

mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: white !important;
}

mat-form-field, ::ng-deep .mat-form-field-label{
    color: black !important;
}

::ngg-deep .mat-form-field-underline::before{
    background-color: black !important;
}

.add:disabled, .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}

.darkTheme .add:disabled , .darkTheme .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}

.mat-form-field-disabled, ::ng-deep .mat-form-field-disabled .mat-form-field-label{
    color: rgba(0,0,0,.26) !important;
  }

  mat-form-field.mat-form-field-disabled ::ng-deep  .mat-form-field-flex{
    background-color: rgba(0,0,0,.12) !important;
  }