<div class="container">
    <div class="right">
        <span class="title">إدخال عامل لملاك معتمد</span>
        <form [formGroup]="Form1">
            <mat-form-field class="example-full-width fitContent" appearance="fill">
                <mat-label>اسم المعتمد</mat-label>
                <input type="text"
                       matInput
                       [formControl]="AccounterName1"
                       [matAutocomplete]="autoAccounter1" 
                       >
                <mat-autocomplete #autoAccounter1="matAutocomplete"
                [displayWith]="displayAccounterNameProperty.bind(this)">
                  <mat-option *ngFor="let option of Accounter_Name_Filter1 | async" [value]="option.accounter_id">
                    {{option.accounter_name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>اسم الموظف</mat-label>
                <input matInput 
                [matAutocomplete]="autoEmployee1" 
                [formControl]='Autocomplete_EmployeeName_Ctrl1'
                >
              </mat-form-field>
            
              <mat-autocomplete
               #autoEmployee1="matAutocomplete"
               [displayWith]="displayFn"
               (optionSelected)="onEmployeeSelected('add')"
               >
                <mat-option *ngIf="isLoading" class="is-loading">
          
                  <mat-spinner diameter="50"></mat-spinner>
              </mat-option>
              
              <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let emp of filteredEmployeeNameList1" [value]="emp.id">
                    <small>{{ emp.fullname }}</small>        
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
    
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>رقم الإضبارة</mat-label>
                <input matInput [formControl]='id1' (change)="onIdSelect('add')">
              </mat-form-field>
    
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>رقم التسلسل</mat-label>
                <input matInput [formControl]='serial1'>
              </mat-form-field>
        </form>
        

          <button mat-raised-button color="primary" (click)="add()" [disabled]="!Form1.valid" accessControl  [FormName]="formname" [CheckedPrivilige]="'00001'">إضافة</button>
    </div>

    <div class="left">
        <span class="title">حذف عامل من ملاك معتمد</span>
        <form [formGroup]="Form2">
            
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>اسم الموظف</mat-label>
                <input matInput 
                [matAutocomplete]="autoEmployee2" 
                [formControl]='Autocomplete_EmployeeName_Ctrl2'>
              </mat-form-field>
            
              <mat-autocomplete
              (optionSelected)="onEmployeeSelected('delete')"
               #autoEmployee2="matAutocomplete"
               [displayWith]="displayFn"
               >
                <mat-option *ngIf="isLoading" class="is-loading">
          
                  <mat-spinner diameter="50"></mat-spinner>
              </mat-option>
              
              <ng-container *ngIf="!isLoading">
                  <mat-option *ngFor="let emp of filteredEmployeeNameList2" [value]="emp">
                    <small>{{ emp.fullname }}</small>        
                  </mat-option>
                </ng-container>
              </mat-autocomplete>
    
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>رقم الإضبارة</mat-label>
                <input matInput [formControl]='id2' (change)="onIdSelect('delete')">
              </mat-form-field>
    
              <mat-form-field class="example-full-width fitContent" appearance="fill">
                <mat-label>اسم المعتمد</mat-label>
                <input type="text"
                       matInput
                       [formControl]="AccounterName2"
                       [matAutocomplete]="autoAccounter2" 
                       >
                <mat-autocomplete #autoAccounter2="matAutocomplete"
                [displayWith]="displayAccounterNameProperty.bind(this)">
                  <mat-option *ngFor="let option of Accounter_Name_Filter1 | async" [value]="option.accounter_id">
                    {{option.accounter_name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>

              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>رقم التسلسل</mat-label>
                <input matInput [formControl]='serial2' >
              </mat-form-field>
        </form>
        

          <button mat-raised-button color="primary" (click)="delete()" [disabled]="!Form2.valid" accessControl  [FormName]="formname" [CheckedPrivilige]="'10000'">حذف</button>

    </div>
</div>