<div class="qararHeader">
    <div class="right">
        <div class="top">
            <h2>تروسية القرار</h2>
            <div class="output">
                <span>عدد النصوص</span>
                <output id="headerNumber"></output>
            </div>
        </div>
        <div class="bottom">
            <textarea id="header" cols="90" rows="7"></textarea>
        </div>
    </div>
    <div class="left">
        <div class="top">
            <button mat-raised-button color="primary" (click)="addHeader()">إضافة</button>
            <button mat-raised-button color="primary" (click)="updateHeader()">تعديل</button>

        </div>
        <div class="bottom">
            <button mat-raised-button color="primary" (click)="previousHeader()"><</button>
            <button mat-raised-button color="primary" (click)="nextHeader()">></button>

        </div>
    </div>
</div>

<div class="form">
    <form class="example-form" [formGroup]="Form">
        <mat-form-field class="example-full-width fitContent" appearance="fill">
            <mat-label>عام الترفيع</mat-label>
            <input type="number"
                    matInput
                    [formControl]="UpgradeYear"
                    [matAutocomplete]="autoUpgradeYear"
                    >
            <mat-autocomplete #autoUpgradeYear="matAutocomplete"
            [displayWith]="displayUpgradeYearProperty.bind(this)">
              <mat-option *ngFor="let option of filteredUpgradeYearOptions | async" [value]="option.YEAR_ID">
                {{option.YEAR_ID}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
  
          <mat-form-field class="example-full-width fitContent" appearance="fill">
              <mat-label>الفئة</mat-label>
              <input type="text"
                      matInput
                      [formControl]="Class"
                      [matAutocomplete]="autoClass"
                      >
              <mat-autocomplete #autoClass="matAutocomplete"
              [displayWith]="displayClassProperty.bind(this)">
                <mat-option *ngFor="let option of filteredClassOptions | async" [value]="option.class_id">
                  {{option.class_name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
  
            <mat-form-field class="example-full-width fitContent" appearance="fill">
              <mat-label>الصفة الوظيفية</mat-label>
              <input type="text"
                      matInput
                      [formControl]="JobName"
                      [matAutocomplete]="autoJobName"
                      >
              <mat-autocomplete #autoJobName="matAutocomplete" (optionSelected)='getJobName($event.option.value)'
              [displayWith]="displayJobNameProperty.bind(this)">
                <mat-option *ngFor="let option of filteredJobNameOptions | async" [value]="option.jobname_id">
                  {{option.jobname_name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
    
            <mat-form-field class="example-full-width fitContent" appearance="fill">
                <mat-label>من رقم قرار</mat-label>
                <input matInput type="number" value="" [formControl]="FirstQararNum">
                </mat-form-field>
    
                <mat-form-field class="example-full-width fitContent" appearance="fill">
                <mat-label>الى رقم قرار</mat-label>
                <input matInput type="number" value="" [formControl]="LastQararNum">
                </mat-form-field>
                
                <mat-checkbox [formControl]="DoNotPrint">عدم طباعة رقم القرار على القرار</mat-checkbox>
    </form>
    
    <p>يحب استخدام ورق قياس LEGAL بطول 33 سم ومعايرة الطابعة على هذا القياس</p>
</div>

<div class="qararFooter1">
    <div class="right">
        <div class="top">
            <h2>تذييل القرار</h2>
            <div class="output">
                <span>عدد النصوص</span>
                <output id="footer1Number"></output>
            </div>
        </div>
        <div class="bottom">
            <textarea id="footer1" cols="90" rows="7"></textarea>
        </div>
    </div>
    <div class="left">
        <div class="top">
            <button mat-raised-button color="primary" (click)="addFooter1()">إضافة</button>
            <button mat-raised-button color="primary" (click)="updateFooter1()">تعديل</button>

        </div>
        <div class="bottom">
            <button mat-raised-button color="primary" (click)="previousFooter1()"><</button>
            <button mat-raised-button color="primary" (click)="nextFooter1()">></button>

        </div>
    </div>
</div>

<div class="qararFooter2">
    <div class="right">
        <div class="top">
            <h2>تذييل قرار 2</h2>
            <div class="output">
                <span>عدد النصوص</span>
                <output id="footer2Number"></output>
            </div>
        </div>
        <div class="bottom">
            <textarea id="footer2" cols="90" rows="7"></textarea>
        </div>
    </div>
    <div class="left">
        <div class="top">
            <button mat-raised-button color="primary" (click)="addFooter2()">إضافة</button>
            <button mat-raised-button color="primary" (click)="updateFooter2()">تعديل</button>

        </div>
        <div class="bottom">
            <button mat-raised-button color="primary" (click)="previousFooter2()"><</button>
            <button mat-raised-button color="primary" (click)="nextFooter2()">></button>

        </div>
    </div>
</div>

<div id="print">
    <form class="example-form" [formGroup]="Form1">
        <mat-checkbox [formControl]="showWord">إظهار كلمة رئيس المكتب التنفيذي</mat-checkbox>
    </form>
    <button mat-raised-button color="primary" (click)="print()" [disabled]="!Form.valid">طباعة</button>
    <button mat-raised-button color="primary" (click)="adjustPrintFooter()" >معايرة تذييل الطباعة</button>
    


</div>