@import '../../../../../../../theme.scss';


textarea{
    resize: none;
}

.fitContent{
    width: fit-content;
}

form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
    
    mat-form-field{
        margin-left: 20px;
    }

    mat-checkbox{
        color: red;
    }
}

form + p{
    color: red;
}
.qararHeader{
    margin-top: 20px;
    
    
}
.qararHeader, .qararFooter1, .qararFooter2{

    background: transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    margin-bottom: 20px;
    display: flex;
    .right{
        display: flex;
        flex-direction: column;

        .top{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .output{
                display: flex;
                align-items: center;
            }
            output{
                background-color: white;
                color: black;
                width: 50px;
                height: 30px;
            }
        }
    }
    .left{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-right: 20px;

        .top{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            button{
                margin-top: 10px;
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            button{
                margin-left: 10px;
            }
        }
    }
}

#print{
    button{
        margin-top: 10px;
        margin-left: 10px;
    }
    mat-checkbox{
        color: red;
    }
}

span#headerSpan{
    background-color: rgb(228, 189, 81);
    color: white;
    padding: 10px;
    margin-right: 20px;
    
}

output{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.form{

    background: transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    margin-bottom: 20px;

}

.green-snackbar{
    background-color: green !important;
    color: green !important;
    }
    
    .red-snackbar{
    background-color: red !important;
}

app-print-referrals{
    display: none;
}



.darkTheme mat-form-field, .darkTheme ::ng-deep .mat-form-field-label{
    color: white !important;
}

.darkTheme ::ng-deep .mat-form-field-underline::before{
    background-color: white !important;
}

.darkTheme mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: $darkSecondary !important;
}

.darkTheme .save{
    color: white !important;
    background-color: $darkPrimary !important;
    }



::ng-deep .mat-form-field-label{
    height: 19px !important;
}


mat-form-field, ::ng-deep .mat-form-field-label{
    color: black !important;
}

.save{
    color: white !important;
    background-color: $lightPrimary !important;
}

::ng-deep .mat-form-field-underline::before{
    background-color: black !important;
}

mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: white !important;
}

.darkTheme ::ng-deep .mat-radio-outer-circle{
    border-color: white !important;
}

.darkTheme ::ng-deep .mat-radio-inner-circle{
    background-color: white !important;
}

.darkTheme .white{
    color: white;
}

.add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
    margin-block: 10px;
  }

  .darkTheme .add, .darkTheme .edit{
    color: white !important;
    background-color: $darkPrimary !important;
  }

  th, td{
    padding: 4px !important;
    text-align: center !important;
  }

  .darkTheme th,
  .darkTheme mat-paginator,
  .darkTheme ::ng-deep .mat-paginator-navigation-first,
  .darkTheme ::ng-deep .mat-paginator-navigation-previous,
  .darkTheme ::ng-deep .mat-paginator-navigation-next,
  .darkTheme ::ng-deep .mat-paginator-navigation-last,
  .darkTheme ::ng-deep .mat-select-arrow,
  .darkTheme ::ng-deep .mat-select-value,
  .darkTheme mat-paginator ::ng-deep .mat-form-field-underline,
  .darkTheme mat-paginator ::ng-deep .mat-form-field-flex{
    background-color: $darkBackground !important;
    color: white !important;
  }

  mat-accordion{
    margin-bottom: 10px;
  }

  .darkTheme .add, .darkTheme .edit{
    color: white !important;
    background-color: $darkPrimary !important;
  }

  .darkTheme .delete{
    background-color: $darkPrimary;
    margin-left: 5px;
  }

  .darkTheme tr{
    background-color: $darkSecondary;
  }

  .darkTheme td{
    color: white;
  }

  .darkTheme .mat-row:nth-child(even){
    background-color: $darkTableEven;
}
.darkTheme .mat-row:nth-child(odd){
    background-color: $darkSecondary;
}

::ng-deep .mat-form-field-label{
  height: 19px !important;
}

.darkTheme .click{
  color: white;
}







 th,
   mat-paginator,
   ::ng-deep .mat-paginator-navigation-first,
   ::ng-deep .mat-paginator-navigation-previous,
   ::ng-deep .mat-paginator-navigation-next,
   ::ng-deep .mat-paginator-navigation-last,
   ::ng-deep .mat-select-arrow,
   ::ng-deep .mat-select-value,
   mat-paginator ::ng-deep .mat-form-field-underline,
   mat-paginator ::ng-deep .mat-form-field-flex{
    background-color: $lightBackground !important;
    color: black !important;
  }

  .add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
  }

  .delete{
    background-color: $lightPrimary;
    margin-left: 5px;
  }

  .demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: $LightTableEven;
}
.mat-row:nth-child(odd){
    background-color: white;
}

.form{
    padding: 20px;
}

.qararHeader, .form, .qararFooter1, .qararFooter2{
    width: fit-content;
    background-color: $lightBackground
}

.darkTheme .qararHeader, .darkTheme .form , .darkTheme .qararFooter1, .darkTheme .qararFooter2{
    background-color: $darkBackground
}

.add:disabled, .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}

.darkTheme textarea{
    background-color: $darkSecondary;
    color: white;
}

.darkTheme .add:disabled , .darkTheme .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}

.mat-form-field-disabled, ::ng-deep .mat-form-field-disabled .mat-form-field-label{
    color: rgba(0,0,0,.26) !important;
  }

  mat-form-field.mat-form-field-disabled ::ng-deep  .mat-form-field-flex{
    background-color: rgba(0,0,0,.12) !important;
  }