<!-- <div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form [formGroup]="loginForm">
                <h1>تسجيل الدخول</h1>
                <p class="text-medium-emphasis">اكتب اسم المستخدم وكلمة السر لتسجيل الدخول</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>اسم المستخدم</mat-label>
                    <input matInput placeholder="اسم المستخدم" value=""   [formControl]="frm_username" /> 
                  </mat-form-field>

                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>كلمة السر</mat-label>
                    <input matInput type="password" placeholder="كلمة السر" value="" [formControl]="frm_password"/>
                  </mat-form-field>
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button mat-button (click)="Login()">
                      تسجيل دخول
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                  
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>منظومة الرسوم في جامعة حلب</h2>
                <p>
                  

                </p>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>




 -->


 <div class="con" style="margin-inline: auto;">
   
   <div class="right">
    <span class="span1" style="display: block; margin-inline: auto; margin-bottom: 20px; font-size: 20px; font-weight: 700;" >تسجيل الدخول</span>

    <mat-form-field class="example-full-width" appearance="outline">
     <mat-label>اسم المستخدم</mat-label>
     <input matInput placeholder="اسم المستخدم" value=""   [formControl]="frm_username" /> 
     <mat-icon matSuffix>person</mat-icon>
   </mat-form-field>
 
   <mat-form-field class="example-full-width" appearance="outline">
     <mat-label>كلمة السر</mat-label>
     <input matInput type="password" placeholder="كلمة السر" value="" [formControl]="frm_password" [type]="hide ? 'password' : 'text'"/>
     <button mat-icon-button matSuffix color="primary" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
       
       <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
     </button>
     <mat-icon matSuffix>lock</mat-icon>
   </mat-form-field>
 
   <button class="btn1"  mat-raised-button (click)="Login()">
     <span></span>
       <span></span>
       <span></span>
       <span></span>
     تسجيل الدخول
   </button>
   </div>
   <div class="left" style="display: flex; align-items: center; justify-content: center; border-right: 1px solid black;">
    <span style="font-weight: 700; font-size: 24px; padding: 20px;">مديرية التربية / ادلب</span>
  </div>
 </div>
