mat-form-field{
    width: 90px !important;
}

@import '../../../../../../../theme.scss';


.darkTheme mat-form-field, .darkTheme ::ng-deep .mat-form-field-label{
    color: white !important;
}

.darkTheme ::ng-deep .mat-form-field-underline::before{
    background-color: white !important;
}

.darkTheme mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: $darkSecondary !important;
}

.darkTheme .save{
    color: white !important;
    background-color: $darkPrimary !important;
    }



::ng-deep .mat-form-field-label{
    height: 19px !important;
}



mat-form-field, ::ng-deep .mat-form-field-label{
    color: black !important;
}

.save{
    color: white !important;
    background-color: $lightPrimary !important;
}

::ng-deep .mat-form-field-underline::before{
    background-color: black !important;
}

mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: $lightBackground !important;
}

mat-checkbox{
    margin-right: 40px;
}

.add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
  }

  .darkTheme .add, .darkTheme .edit{
    color: white !important;
    background-color: $darkPrimary !important;
  }