table {
    width: 100%;
    
}

.mat-column-serialNumber {
    padding-right: 40px;
}
.mat-column-action {
    text-align: right;
}

:host{
    direction: rtl;
}

.filterGroup{
    display: flex;
}

.filterGroup1{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    mat-form-field{
        width: 200px;
    }
}

.filterGroup2{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    mat-form-field{
        width: 200px;
    }
}

.filterGroup3{
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    mat-form-field{
        width: 200px;
    }

    h4{
        width: fit-content;
        cursor: pointer;
    }
}

.label{
    position: relative;
    left: -900px;
}

h2{
    background-color: darkgoldenrod;
    padding: 10px;
    padding-inline: 20px;
    width: fit-content;
}

mat-form-field{
    margin-left: 10px;
}

.demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: rgb(182, 182, 182);
}
.mat-row:nth-child(odd){
    background-color: white;
}

.add {
    cursor: pointer;
    margin-right: 10px;
}

.view{
    cursor: pointer;
}

.edit {
    cursor: pointer;
}

.delete {
    cursor: pointer;
    margin-left: 10px;
}

.mat-header-row.cdk-header-row {
    th{
        font-weight: bold ;
        font-size: 18px ;
    }
}

mat-expansion-panel{
    margin-bottom: 20px;
    width: fit-content;
}

mat-panel-title{
    display: flex;
    justify-content: center;
}

td{
    border-left: 1px solid rgba(8, 8, 8, 0.116);
    padding-inline: 5px !important;
}

.date .content{
    display: flex;
}

.hideDate{
    display: none !important;
}

.small-width{
    width: 90px !important;
    margin-left: 10px;
}