<div class="theme" [class.darkTheme]="darkTheme">
  <c-container fluid>

    <c-row>
      <mat-progress-bar *ngIf="LoadingFinish == false" mode="indeterminate" #progressbar></mat-progress-bar>
    </c-row>
  
    <ngx-hover-opacity [isHoverVisible]="!LoadingFinish">
  
  
  
  <h2 mat-dialog-title>مراسيم الزيادة</h2>
  
  <mat-dialog-content class="mat-typography">
  
  
    <form [formGroup]="Form">
  
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>سبب التبدل</mat-label>
            <input type="text" matInput [formControl]="changereason_id" formControlName="changereason_id"
              [matAutocomplete]="auto_changereason_id" id="changereason_id"  (keyup.enter)="focusNext('changeDateDay')" >
            <mat-error *ngIf="errorHandling('changereason_id', 'required')">
            </mat-error>
  
            <mat-error
              *ngIf="((changereason_id.invalid || changereason_id.errors)  && (changereason_id.dirty || changereason_id.touched) )">
            </mat-error>
            <mat-hint
              *ngIf="((changereason_id.invalid || changereason_id.errors)  && (changereason_id.dirty || changereason_id.touched) )">
              <span class="mat-error">Please choose a X</span>
            </mat-hint>
  
            <mat-autocomplete #auto_changereason_id="matAutocomplete"
              [displayWith]="displayChangeReasonProperty.bind(this)"
              (optionSelected)="OnSelectChangeReasonChange($event)">
              <mat-option *ngFor="let option of filteredChangeReasonOptions | async" [value]="option.changereason_id">
                {{option.changereason_name}}
              </mat-option>
  
  
            </mat-autocomplete>
  
          </mat-form-field>
  
        <div class="date">
          <span>تاريخ التبدل:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="changeDateChange('day')" [(ngModel)]='changeDateDay' [ngModelOptions]="{standalone: true}" id="changeDateDay"  (keyup.enter)="focusNext('changeDateMonth')">
            </mat-form-field>
  
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="changeDateChange('month')" [(ngModel)]='changeDateMonth' [ngModelOptions]="{standalone: true}" id="changeDateMonth"  (keyup.enter)="focusNext('changeDateYear')">
            </mat-form-field>
  
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="changeDateChange('year')" [(ngModel)]='changeDateYear' [ngModelOptions]="{standalone: true}" id="changeDateYear"  (keyup.enter)="focusNext('beginDateDay')">
          </mat-form-field>
          </div>
        </div>
  
        <div class="date">
          <span>تاريخ المباشرة:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="beginDateChange('day')" [(ngModel)]='beginDateDay' [ngModelOptions]="{standalone: true}" id="beginDateDay"  (keyup.enter)="focusNext('beginDateMonth')">
            </mat-form-field>
  
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="beginDateChange('month')" [(ngModel)]='beginDateMonth' [ngModelOptions]="{standalone: true}" id="beginDateMonth"  (keyup.enter)="focusNext('beginDateYear')">
            </mat-form-field>
  
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="beginDateChange('year')" [(ngModel)]='beginDateYear' [ngModelOptions]="{standalone: true}" id="beginDateYear"  (keyup.enter)="focusNext('documenttype_id')">
          </mat-form-field>
          </div>
        </div>
  
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>المستند</mat-label>
            <input type="text" matInput [formControl]="documenttype_id" formControlName="documenttype_id"
              [matAutocomplete]="auto_documenttype_id" id="documenttype_id"  (keyup.enter)="focusNext('document_number')">
            <mat-autocomplete #auto_documenttype_id="matAutocomplete"
              [displayWith]="displayDocumentTypeProperty.bind(this)"
              (optionSelected)="OnSelectDocumentTypeChange($event)">
              <mat-option *ngFor="let option of filteredDocumentTypeOptions | async" [value]="option.documenttype_id">
                {{option.documenttype_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>رقم المستند</mat-label>
            <input matInput type="number" placeholder="" value="" [formControl]="document_number"
              formControlName="document_number" id="document_number"  (keyup.enter)="focusNext('docDateDay')">
          </mat-form-field>
  
        <div class="date">
          <span>تاريخ المستند:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="docDateChange('day')" [(ngModel)]='docDateDay' [ngModelOptions]="{standalone: true}" id="docDateDay"  (keyup.enter)="focusNext('docDateMonth')">
            </mat-form-field>
  
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="docDateChange('month')" [(ngModel)]='docDateMonth' [ngModelOptions]="{standalone: true}" id="docDateMonth"  (keyup.enter)="focusNext('docDateYear')">
            </mat-form-field>
  
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="docDateChange('year')" [(ngModel)]='docDateYear' [ngModelOptions]="{standalone: true}" id="docDateYear"  (keyup.enter)="focusNext('additionalvalue')">
          </mat-form-field>
          </div>
      </div>
  
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>المبلغ الإضافي</mat-label>
            <input matInput type="number" placeholder="" value="" [formControl]="additionalvalue"
              formControlName="additionalvalue" id="additionalvalue"  (keyup.enter)="focusNext('incpercentage')">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>نسبة الزيادة</mat-label>
            <input matInput type="number" placeholder="" value="" [formControl]="incpercentage"
              formControlName="incpercentage" id="incpercentage"  (keyup.enter)="focusNext('Save')">
          </mat-form-field>
  
    </form>
  </mat-dialog-content>
  <mat-dialog-actions >
    <button mat-raised-button color="warn" mat-dialog-close>
      <mat-icon class="mat-icon-rtl-mirror">close
      </mat-icon>
      اغلاق
    </button>
  
  
  
  
  
    <button mat-raised-button color="accent" (click)="onReset()">
      <mat-icon class="mat-icon-rtl-mirror">clear
      </mat-icon>
      مسح الشاشة
    </button>
  
  
    <button mat-raised-button class="save" cdkFocusInitial (click)="Save()" id="Save">
      <mat-icon class="mat-icon-rtl-mirror">save
      </mat-icon>
      حفظ
    </button>
  
  </mat-dialog-actions>
  
  </ngx-hover-opacity>
  </c-container>
  
</div>