<h2 mat-dialog-title>الإجازات الخاصة</h2>

<mat-dialog-content class="mat-typography">


  <form [formGroup]="Form">

    <div class="inputsGroup">
      <div class="group1">
        <div class="date">
          <span>تاريخ بداية الإجازة:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="startDateChange('day')"
              [(ngModel)]='startDateDay' [ngModelOptions]="{standalone: true}"
              id="startDateDay" (keyup.enter)="focusNext('startDateMonth')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="startDateChange('month')"
              [(ngModel)]='startDateMonth' [ngModelOptions]="{standalone: true}"
              id="startDateMonth" (keyup.enter)="focusNext('startDateYear')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="startDateChange('year')"
              [(ngModel)]='startDateYear' [ngModelOptions]="{standalone: true}"
              id="startDateYear" (keyup.enter)="focusNext('endDateDay')">
          </mat-form-field>
          </div>
        </div>

        <div class="date">
          <span>تاريخ انتهاء الإجازة:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="endDateChange('day')"
              [(ngModel)]='endDateDay' [ngModelOptions]="{standalone: true}"
              id="endDateDay" (keyup.enter)="focusNext('endDateMonth')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="endDateChange('month')"
              [(ngModel)]='endDateMonth' [ngModelOptions]="{standalone: true}"
              id="endDateMonth" (keyup.enter)="focusNext('endDateYear')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="endDateChange('year')"
              [(ngModel)]='endDateYear' [ngModelOptions]="{standalone: true}"
              id="endDateYear" (keyup.enter)="focusNext('reason_id')">
          </mat-form-field>
          </div>
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>المدة</mat-label>
          <input matInput type="number" [formControl]="duration"
            formControlName="duration" id="duration">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>السبب</mat-label>
          <input type="text" matInput [formControl]="reason_id" formControlName="reason_id"
            [matAutocomplete]="auto_reason_id" id="reason_id" (keyup.enter)="focusNext('documenttype_id')">
          <mat-error *ngIf="errorHandling('reason_id', 'required')">
            You must provide a<strong>name</strong>
          </mat-error>

          <mat-error *ngIf="((reason_id.invalid || reason_id.errors)  && (reason_id.dirty || reason_id.touched) )">

            sdfsdf


          </mat-error>
          <mat-hint *ngIf="((reason_id.invalid || reason_id.errors)  && (reason_id.dirty || reason_id.touched) )"><span
              class="mat-error">Please choose a X</span></mat-hint>

          <mat-autocomplete #auto_reason_id="matAutocomplete"
            [displayWith]="displayFreeHolidayReasonProperty.bind(this)"
            (optionSelected)="OnSelectFreeHolidayReasonChange($event)">
            <mat-option *ngFor="let option of filteredFreeHolidayReasonOptions | async"
              [value]="option.freeholidayreason_id">
              {{option.freeholidayreason_name}}
            </mat-option>


          </mat-autocomplete>

        </mat-form-field>
      </div>
      <div class="group2">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>المستند</mat-label>
          <input type="text" matInput [formControl]="documenttype_id" formControlName="documenttype_id"
            [matAutocomplete]="auto_documenttype_id"
            id="documenttype_id" (keyup.enter)="focusNext('document_number')">
          <mat-autocomplete #auto_documenttype_id="matAutocomplete"
            [displayWith]="displayDocumentTypeProperty.bind(this)"
            (optionSelected)="OnSelectDocumentTypeChange($event)">
            <mat-option *ngFor="let option of filteredDocumentTypeOptions | async" [value]="option.documenttype_id">
              {{option.documenttype_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>رقم المستند</mat-label>

          <input matInput type="number" [formControl]="document_number"
            formControlName="document_number"
            id="document_number" (keyup.enter)="focusNext('docDateDay')">

        </mat-form-field>
        <div class="date">
          <span>تاريخ المستند:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="docDateChange('day')"
              [(ngModel)]='docDateDay' [ngModelOptions]="{standalone: true}"
              id="docDateDay" (keyup.enter)="focusNext('docDateMonth')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="docDateChange('month')"
              [(ngModel)]='docDateMonth' [ngModelOptions]="{standalone: true}"
              id="docDateMonth" (keyup.enter)="focusNext('docDateYear')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="docDateChange('year')"
              [(ngModel)]='docDateYear' [ngModelOptions]="{standalone: true}"
              id="docDateYear" (keyup.enter)="focusNext('startDateDay')">
          </mat-form-field>
          </div>
      </div>
      </div>
    </div>

        





        


  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon class="mat-icon-rtl-mirror">close
    </mat-icon>
    اغلاق
  </button>





  <button mat-raised-button color="accent" (click)="onReset()">
    <mat-icon class="mat-icon-rtl-mirror">clear
    </mat-icon>
    مسح الشاشة
  </button>


  <button mat-raised-button color="primary" cdkFocusInitial (click)="Save()">
    <mat-icon class="mat-icon-rtl-mirror">save
    </mat-icon>
    حفظ
  </button>

</mat-dialog-actions>