<h2 mat-dialog-title>موظف الإدخال</h2>
<mat-dialog-content class="mat-typography">
<mat-card>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>مدخل البيانات</mat-label>
        <input matInput  [value]="SelectedEmp.EnterUserName" name="enterusername" disabled="true">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>التاريخ</mat-label>
        <input matInput  [value]="SelectedEmp.EnterDate" name="enterdate" disabled="true">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>الساعة</mat-label>
        <input matInput  [value]="SelectedEmp.EnterTime" name="entertime" disabled="true">
    </mat-form-field>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>معدل البيانات </mat-label>
        <input matInput  [value]="SelectedEmp.ModifyUserName" name="modifyusername " disabled="true">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>التاريخ </mat-label>
        <input matInput  [value]="SelectedEmp.ModifyDate" name="modifydate " disabled="true">
    </mat-form-field>

    

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>الساعة </mat-label>
        <input matInput value="{{ SelectedEmp.ModifyTime | date:'mediumTime' }}" name="modifytime" disabled="true">
    </mat-form-field>

    
 

</mat-card>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>إغلاق</button>
</mat-dialog-actions>


