@import '../../../../../theme.scss';


mat-radio-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 150px;
    width: 370px;
}

mat-radio-button{
    width: fit-content;
    margin-bottom: 20px;
    margin-left: 20px;
}



fieldset{
    
    padding: 20px;
    margin-right: 20px;

    background: transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    mat-form-field{
        width: 45%;
        margin-left: 20px;
    }
}

.dates{
    display: flex;
    flex-direction: column;


}

form{
    display: flex;
    p{
        background-color: rgb(228, 189, 81);
        color: white;
        align-self: flex-start;
        padding: 10px;
        margin-right: 20px;
    }
}

button{
    margin-bottom: 20px;
}

tr:nth-child(even) {background: #CCC};


table{
    width: 100%;
}

.demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: rgb(182, 182, 182);
}
.mat-row:nth-child(odd){
    background-color: white;
}

.search{
    display: block;
    width: fit-content;
}

.view{
    margin-top: 10px;
}

.table-wrap{
    overflow: auto;
}

td, th{
    padding: 5px !important;
    text-align: right !important;
}

.date .content{
    display: flex;
}

.hideDate{
    display: none !important;
}

.small-width{
    width: 90px;
    margin-left: 10px;
}


  .darkTheme th,
  .darkTheme mat-paginator,
  .darkTheme ::ng-deep .mat-paginator-navigation-first,
  .darkTheme ::ng-deep .mat-paginator-navigation-previous,
  .darkTheme ::ng-deep .mat-paginator-navigation-next,
  .darkTheme ::ng-deep .mat-paginator-navigation-last,
  .darkTheme ::ng-deep .mat-select-arrow,
  .darkTheme ::ng-deep .mat-select-value,
  .darkTheme mat-paginator ::ng-deep .mat-form-field-underline,
  .darkTheme mat-paginator ::ng-deep .mat-form-field-flex{
    background-color: $darkBackground !important;
    color: white !important;
  }

  mat-accordion{
    margin-bottom: 10px;
  }

  .darkTheme .add, .darkTheme .edit{
    color: white !important;
    background-color: $darkPrimary !important;
  }

  .darkTheme .delete{
    background-color: $darkPrimary;
    margin-left: 5px;
  }

  .darkTheme tr{
    background-color: $darkSecondary;
  }

  .darkTheme td{
    color: white;
  }

  .darkTheme .mat-row:nth-child(even){
    background-color: $darkTableEven;
}
.darkTheme .mat-row:nth-child(odd){
    background-color: $darkSecondary;
}

::ng-deep .mat-form-field-label{
  height: 19px !important;
}

.darkTheme .click{
  color: white;
}







 th,
   mat-paginator,
   ::ng-deep .mat-paginator-navigation-first,
   ::ng-deep .mat-paginator-navigation-previous,
   ::ng-deep .mat-paginator-navigation-next,
   ::ng-deep .mat-paginator-navigation-last,
   ::ng-deep .mat-select-arrow,
   ::ng-deep .mat-select-value,
   mat-paginator ::ng-deep .mat-form-field-underline,
   mat-paginator ::ng-deep .mat-form-field-flex{
    background-color: $lightBackground !important;
    color: black !important;
  }

  .add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
  }

  .delete{
    background-color: $lightPrimary;
    margin-left: 5px;
  }

  .demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: $LightTableEven;
}
.mat-row:nth-child(odd){
    background-color: white;
}






.darkTheme mat-form-field, .darkTheme ::ng-deep .mat-form-field-label{
    color: white !important;
}

.darkTheme ::ng-deep .mat-form-field-underline::before{
    background-color: white !important;
}

.darkTheme mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: $darkSecondary !important;
}

.darkTheme mat-form-field.search ::ng-deep .mat-form-field-flex{
    background-color: $darkBackground !important;
}

mat-form-field.search ::ng-deep .mat-form-field-flex{
    background-color: $lightBackground !important;
}

.darkTheme .save{
    color: white !important;
    background-color: $darkPrimary !important;
    }



::ng-deep .mat-form-field-label{
    height: 19px !important;
}


mat-form-field, ::ng-deep .mat-form-field-label{
    color: black !important;
}

.save{
    color: white !important;
    background-color: $lightPrimary !important;
}

::ng-deep .mat-form-field-underline::before{
    background-color: black !important;
}

mat-form-field ::ng-deep .mat-form-field-flex{
    background-color: white !important;
}







.darkTheme mat-expansion-panel{
    background-color: $darkBackground !important;
    }
    
    .darkTheme ::ng-deep mat-panel-title, .darkTheme ::ng-deep mat-panel-description{
        color: white;
    }
    
    .darkTheme .white{
        color: white;
    }
    
    .darkTheme ::ng-deep .mat-expansion-indicator::after{
        color: white;
    }
    
    mat-expansion-panel{
        background-color: $lightBackground;
    }

    .darkTheme ::ng-deep .mat-radio-outer-circle{
        border-color: white !important;
    }
    
    .darkTheme ::ng-deep .mat-radio-inner-circle{
        background-color: white !important;
    }

    .add:disabled, .edit:disabled{
        background-color: rgba(0,0,0,.12) !important;
        color: rgba(0,0,0,.26);
    }

    .darkTheme .add:disabled , .darkTheme .edit:disabled{
        background-color: rgba(0,0,0,.12) !important;
        color: rgba(0,0,0,.26);
    }


    .mat-form-field-disabled, ::ng-deep .mat-form-field-disabled .mat-form-field-label{
        color: rgba(0,0,0,.26) !important;
      }
    
      mat-form-field.mat-form-field-disabled ::ng-deep  .mat-form-field-flex{
        background-color: rgba(0,0,0,.12) !important;
      }