mat-radio-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    height: 150px;
    width: 370px;
}

mat-radio-button{
    width: fit-content;
    margin-bottom: 20px;
    margin-left: 20px;
}



fieldset{
    border: 1px solid black;
    padding: 20px;
    margin-right: 20px;

    mat-form-field{
        width: 45%;
        margin-left: 20px;
    }
}

.dates{
    display: flex;
    flex-direction: column;


}

form{
    display: flex;
    p{
        background-color: rgb(228, 189, 81);
        color: white;
        align-self: flex-start;
        padding: 10px;
        margin-right: 20px;
    }
}

button{
    margin-bottom: 20px;
}

tr:nth-child(even) {background: #CCC};


table{
    width: 100%;
}

.demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: rgb(182, 182, 182);
}
.mat-row:nth-child(odd){
    background-color: white;
}

.search{
    display: block;
    width: fit-content;
}

.view{
    margin-top: 10px;
}

.table-wrap{
    overflow: auto;
}

td, th{
    padding: 5px !important;
}

.date .content{
    display: flex;
}

.hideDate{
    display: none !important;
}

.small-width{
    width: 90px;
    margin-left: 10px;
}