:host
{
    direction: rtl;
}
mat-card-title
{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-color: aqua;
    padding: 5px;
}

.mat-card-header-text
{
    margin:2;
}

:host {
  font-size: smaller;

  mat-form-field {
    margin-bottom: 0.125rem;
  }

  .date-picker-field {
    ::ng-deep {
      .mat-form-field-infix {
        width: 145px !important;
      }
    }
  }



}



// button
// {
//     width: 100%;

// }

.submit-button-container {
  margin: 1rem 0;
}


.submit-button {
  font-size: 1rem;
  padding: 0.25rem 4rem;
}

.add-employee-card-actions {
  text-align: left;
}

.small-width{
  width: 90px;
  margin-left: 10px;
}