<div class="theme" [class.darkTheme]="darkTheme">
  <h2 mat-dialog-title>تعديل ضم الخدمة</h2>

<mat-dialog-content class="mat-typography">

  <!-- <ngx-hover-opacity [isHoverVisible]="isLoadingFinish"> -->

  <form [formGroup]="Form">

    <div class="row text-left">

      
    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>عدد الأيام</mat-label>        
          <input matInput type="number" placeholder="عدد الأيام" value="" [formControl]="days"  formControlName="days" id="days" (keyup.enter)="focusNext('months')">        
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>عدد الأشهر</mat-label>        
        <input matInput type="number" placeholder="عدد الأشهر" value="" [formControl]="months"  formControlName="months" id="months" (keyup.enter)="focusNext('years')">        
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>عدد السنوات</mat-label>        
      <input matInput type="number" placeholder="عدد السنوات" value="" [formControl]="years"  formControlName="years" id="years" (keyup.enter)="focusNext('mergeservicereason_id')">        
  </mat-form-field>
</div>

<div class="row  text-left">

    <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 20px;">
      <mat-label>سبب ضم الخدمة</mat-label>
      <input type="text" matInput [formControl]="mergeservicereason_id"  [matAutocomplete]="auto_mergeservicereason_id" id="mergeservicereason_id" (keyup.enter)="focusNext('auto_documenttype_id')">
      <mat-error *ngIf="errorHandling('mergeservicereason_id', 'required')">
        
     </mat-error>      
      <mat-autocomplete #auto_mergeservicereason_id="matAutocomplete" [displayWith]="display_TBLShamelMergeServiceReason.bind(this)" (optionSelected)="OnSelect_TBLShamelMergeServiceReason($event)">
        <mat-option *ngFor="let option of filter_TBLShamelMergeServiceReason | async" [value]="option.mergeservicereason_id">
          {{option?.mergeservicereason_name}}
        </mat-option>        
      </mat-autocomplete>     
    </mat-form-field>
    </div>
    <div class="row text-left">

      <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 20px;">
        <mat-label>المستند</mat-label>
        <input type="text" matInput [formControl]="documenttype_id"  [matAutocomplete]="auto_documenttype_id" id="auto_documenttype_id" (keyup.enter)="focusNext('document_number')">
        <mat-autocomplete #auto_documenttype_id="matAutocomplete" [displayWith]="displayDocumentTypeProperty.bind(this)" (optionSelected)="OnSelect_DocumentType($event)">
          <mat-option *ngFor="let option of filteredDocumentTypeOptions | async" [value]="option.documenttype_id">
            {{option.documenttype_name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 20px;">
        <mat-label>رقم المستند</mat-label>        
          <input matInput type="number" placeholder="رقم المستند" value="" [formControl]="document_number" id="document_number"  (keyup.enter)="focusNext('documentDateDay')">        
      </mat-form-field>

      <div class="date">
        <span>تاريخ المستند:</span>
        <div class="dateContent">
          <mat-form-field class="example-full-width small-width" appearance="fill" >
            <mat-label>اليوم</mat-label>
            <input matInput placeholder="ex: 21" (change)="documentDateChange('day')"
            [(ngModel)]='documentDateDay' [ngModelOptions]="{standalone: true}"
            id="documentDateDay" (keyup.enter)="focusNext('documentDateMonth')">
          </mat-form-field>

          <mat-form-field class="example-full-width small-width" appearance="fill" >
            <mat-label>الشهر</mat-label>
            <input matInput placeholder="ex: 1" (change)="documentDateChange('month')"
            [(ngModel)]='documentDateMonth' [ngModelOptions]="{standalone: true}"
            id="documentDateMonth" (keyup.enter)="focusNext('documentDateYear')">
          </mat-form-field>

          <mat-form-field class="example-full-width small-width" appearance="fill" >
            <mat-label>السنة</mat-label>
            <input matInput placeholder="ex: 2022"  (change)="documentDateChange('year')"
            [(ngModel)]='documentDateYear' [ngModelOptions]="{standalone: true}"
            id="documentDateYear" (keyup.enter)="focusNext('days')">
        </mat-form-field>
        </div>
      </div>

      </div>


  </form>
<!-- </ngx-hover-opacity> -->

  </mat-dialog-content>
  <mat-dialog-actions >
    <button mat-raised-button color="warn" mat-dialog-close >
      <mat-icon class="mat-icon-rtl-mirror">close
    </mat-icon>
    اغلاق
    </button>



  

    <button mat-raised-button color="accent"   (click)="onReset()" >
      <mat-icon class="mat-icon-rtl-mirror">clear
      </mat-icon>
      مسح الشاشة
    </button>


    <button  mat-raised-button class="add"  cdkFocusInitial (click)="Save()" >
      <mat-icon class="mat-icon-rtl-mirror">save
      </mat-icon>
      حفظ
    </button>

  </mat-dialog-actions>


</div>