<form class="example-form" [formGroup]="Form" #form="ngForm">
    <div class="con">
        
        
        <div class="center">
            <fieldset>
                <legend>شهادة خبرة</legend>
                <div class= "contnet">
                    
                    <div class="centerRight">
                        <mat-radio-group formControlName="checkBoxGroup">
                            <mat-radio-button color="primary" value="1" (change)="change1($event)">صفة وظيفية معينة</mat-radio-button>
                            <mat-radio-button color="primary" value="2" (change)="change2($event)">إجمالي الخدمات</mat-radio-button>
                            <mat-radio-button color="primary" value="3" (change)="change3($event)" [checked]="true">شهادة خبرة مفصلة</mat-radio-button>
                            </mat-radio-group>
                    </div>
                    <div class="centerLeft">
                        <mat-form-field class="example-full-width fitContent" appearance="fill">
                            <input type="text"
                                    matInput
                                    formControlName="jobName"
                                    [matAutocomplete]="autoJobName"
                                    >
                            <mat-autocomplete #autoJobName="matAutocomplete"
                            [displayWith]="displayJobNameProperty.bind(this)">
                            <mat-option *ngFor="let option of filteredJobNameOptions | async" [value]="option.jobname_id">
                                {{option.jobname_name}}
                            </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                
                <button mat-raised-button color="primary" (click)="certificatePrint()" [disabled]="!Selected_Emp.id">طباعة</button>
                <button mat-raised-button color="primary" (click)="adjustPrintFooter1()" [disabled]="!Selected_Emp.id">معايرة تذييل الطباعة</button>
            </fieldset>
        </div>
    
        <div class="left">
            <fieldset>
                <legend>بيان وضع العامل</legend>
                <div class="con1">
                    <mat-checkbox color="primary" formControlName="employeeDataCheckbox">البيانات الشخصية للعامل</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="certificateCheckbox" >المؤهل العلمي</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="bonusCheckbox" >المكافئات</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="punishmentCheckbox" >العقوبات</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="freeHolidaysCheckbox" >إجازة خاصة أقل من 3 أشهر</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="mergeServiceCheckbox" >ضم خدمة</mat-checkbox>
                    <mat-checkbox color="primary" formControlName="jobStateCheckbox" >الوضع الوظيفي</mat-checkbox>
                </div>
    
                <button mat-raised-button color="primary" (click)="employeeStateDataPrint()" [disabled]="!Selected_Emp.id">طباعة</button>
                <button  mat-raised-button color="primary" (click)="adjustPrintFooter2()" [disabled]="!Selected_Emp.id">معايرة تذييل الطباعة</button>
            </fieldset>
        </div>
        
        <div class="right">
            <fieldset>
                <legend>بيان خدمة</legend>
                <button mat-raised-button color="primary" (click)="serviceDataPrint()" [disabled]="!Selected_Emp.id">طباعة</button>
                <button mat-raised-button color="primary" (click)="adjustPrintFooter3()" [disabled]="!Selected_Emp.id">معايرة تذييل الطباعة</button>
            </fieldset>
        </div>

        
    </div>
</form>
