fieldset{
    border: 1px solid black;
    width: fit-content;
    padding: 20px;
    margin-left: 10px;

    button{
        margin-left: 10px;
    }
}

.con{
    display: flex;
    flex-wrap: wrap;

    .right{
        fieldset{
            width: 280px;
        }
    }

    .center fieldset .contnet{
        display: flex;
        width: 250px;

        .centerRight{
            display: flex;
            flex-direction: column;
            width: 175px;
            margin-left: 10px;

            mat-radio-button{
                margin-bottom: 10px;
            }
        }
    }
}

.con1{
    display: flex;
    flex-direction: column;
    width: 65px;
    margin-bottom: 20px;
}

mat-radio-group{
    height: 117px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

app-service-data-print, app-employee-state-data-print, app-experience-certificate-print{
    display: none;
}