table{
    width: 100%;
    margin-top: 20px;
}

.demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: rgb(182, 182, 182);
}
.mat-row:nth-child(odd){
    background-color: white;
}

.search{
    margin-top: 10px;
}

.table-wrap{
    overflow: auto;
}

td, th{
    padding: 10px;
}

.grey{
    background-color: rgb(199, 198, 198);
}

.darkGrey{
    background-color: rgb(133, 133, 133);
}

output{
    padding: 5px;
    margin: 2px;
    width: 75px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columnsGrpup{
    display: flex;
    margin-top: 10px;
}

.column1, .column2, .column3, .column4{
    display: flex;
    flex-direction: column;
}