<div class="theme" [class.darkTheme]="darkTheme">
    <button class="search add" mat-raised-button  (click)="Search()" accessControl  [FormName]="formname" [CheckedPrivilige]="'00100'">عرض السجلات</button>
<button class="add"  mat-raised-button  (click)="adjustPrintFooter()" [disabled]="!dataSource.data[0]" accessControl  [FormName]="formname" [CheckedPrivilige]="'01000'">معايرة تذييل الطباعة</button>
<button class="view add" mat-raised-button  (click)="print()" [disabled]="!dataSource.data[0]" accessControl  [FormName]="formname" [CheckedPrivilige]="'01000'"><mat-icon>print</mat-icon> طباعة</button>
<button mat-raised-button id="excel" (click)="exportToExcel()" [disabled]="dataSource.data[0]== null">
    <mat-icon>view_comfy</mat-icon>
    تصدير الى اكسل
  </button>
<div class="col-md-12">
    <div class="table-wrap">

        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

            <ng-container matColumnDef="CLASS_NAME">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>الفئة</th>
                <td mat-cell *matCellDef="let element">{{element?.CLASS_NAME}}</td>
            </ng-container>

            <ng-container matColumnDef="JOBNAME_NAME">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>الصفة الوظيفية</th>
                <td mat-cell *matCellDef="let element">{{element?.JOBNAME_NAME}}</td>
            </ng-container>

            <ng-container matColumnDef="MALESCOUNT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>ذكور</th>
                <td mat-cell *matCellDef="let element">{{element?.MALESCOUNT}}</td>
            </ng-container>

            <ng-container matColumnDef="FEMALESCOUNT">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>إناث</th>
                <td mat-cell *matCellDef="let element">{{element?.FEMALESCOUNT}}</td>
            </ng-container>



            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;let idx=index;"
            [style.background-color]="rowClicked == idx ? 'yellow': 'none'"
            (click)="changeTableRowColor(idx)"></tr>
        </table>
        <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
        <mat-paginator showFirstLastButtons
        #paginator [length]="totalRows"
    [pageSizeOptions]="pageSizeOptions"></mat-paginator>


    </div>
</div>

<div class="columnsGrpup">
    <div class="column1">
        <output class="grey white">الفئة</output>
        <output class="darkGrey white">فئة أولى</output>
        <output class="darkGrey white">فئة ثانية</output>
        <output class="darkGrey white">فئة ثالثة</output>
        <output class="darkGrey white">فئة رابعة</output>
        <output class="darkGrey white">فئة  خامسة</output>
    </div>

    <div class="column2">
        <output class="darkGrey white">ذكور</output>
        <output class="grey white" id="malesInClass1"></output>
        <output class="grey white" id="malesInClass2"></output>
        <output class="grey white" id="malesInClass3"></output>
        <output class="grey white" id="malesInClass4"></output>
        <output class="grey white" id="malesInClass5"></output>
        <output class="darkGrey white" id="maleTotal"></output>
    </div>

    <div class="column3">
        <output class="darkGrey white">إناث</output>
        <output class="grey white" id="femalesInClass1"></output>
        <output class="grey white" id="femalesInClass2"></output>
        <output class="grey white" id="femalesInClass3"></output>
        <output class="grey white" id="femalesInClass4"></output>
        <output class="grey white" id="femalesInClass5"></output>
        <output class="darkGrey white" id="femaleTotal"></output>
    </div>

    <div class="column4">
        <output class="darkGrey white">المجموع</output>
        <output class="grey white"  id="totalOfClass1"></output>
        <output class="grey white" id="totalOfClass2"></output>
        <output class="grey white" id="totalOfClass3"></output>
        <output class="grey white" id="totalOfClass4"></output>
        <output class="grey white" id="totalOfClass5"></output>
        <output class="darkGrey white" id="Total"></output>
    </div>
</div>
</div>