@import '../../../../../theme.scss';


table{
    width: 100%;
    margin-top: 20px;
}


.search{
    margin-top: 10px;
}

button{
    margin-left: 10px;
}

.table-wrap{
    overflow: auto;
}

td, th{
    padding: 10px;
}

td{
  border-left: 1px solid rgba(8, 8, 8, 0.116);
  padding-inline: 2px !important;
}
.grey{
    background-color: $lightBackground;
}

.darkGrey{
    background-color: $LightTableEven;
}

.darkTheme .grey{
    background-color: $darkBackground;
}

.darkTheme .darkGrey{
    background-color: $darkTableEven;
}

output{
    padding: 5px;
    margin: 2px;
    width: 75px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.columnsGrpup{
    display: flex;
    margin-top: 10px;
}

.column1, .column2, .column3, .column4{
    display: flex;
    flex-direction: column;
}

th, td{
    padding: 4px !important;
    text-align: center !important;
  }

  .darkTheme th,
  .darkTheme mat-paginator,
  .darkTheme ::ng-deep .mat-paginator-navigation-first,
  .darkTheme ::ng-deep .mat-paginator-navigation-previous,
  .darkTheme ::ng-deep .mat-paginator-navigation-next,
  .darkTheme ::ng-deep .mat-paginator-navigation-last,
  .darkTheme ::ng-deep .mat-select-arrow,
  .darkTheme ::ng-deep .mat-select-value,
  .darkTheme mat-paginator ::ng-deep .mat-form-field-underline,
  .darkTheme mat-paginator ::ng-deep .mat-form-field-flex{
    background-color: $darkBackground !important;
    color: white !important;
  }

  mat-accordion{
    margin-bottom: 10px;
  }

  .darkTheme .add, .darkTheme .edit{
    color: white !important;
    background-color: $darkPrimary !important;
  }

  .darkTheme .delete{
    background-color: $darkPrimary;
    margin-left: 5px;
  }

  .darkTheme tr{
    background-color: $darkSecondary;
  }

  .darkTheme td{
    color: white;
  }

  .darkTheme .mat-row:nth-child(even){
    background-color: $darkTableEven;
}
.darkTheme .mat-row:nth-child(odd){
    background-color: $darkSecondary;
}

::ng-deep .mat-form-field-label{
  height: 19px !important;
}

.darkTheme .click{
  color: white;
}







 th,
   mat-paginator,
   ::ng-deep .mat-paginator-navigation-first,
   ::ng-deep .mat-paginator-navigation-previous,
   ::ng-deep .mat-paginator-navigation-next,
   ::ng-deep .mat-paginator-navigation-last,
   ::ng-deep .mat-select-arrow,
   ::ng-deep .mat-select-value,
   mat-paginator ::ng-deep .mat-form-field-underline,
   mat-paginator ::ng-deep .mat-form-field-flex{
    background-color: $lightBackground !important;
    color: black !important;
  }

  .add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
  }

  .delete{
    background-color: $lightPrimary;
    margin-left: 5px;
  }

  .demo-row-is-clicked {
    background-color: orange !important;
  }

.mat-row:nth-child(even){
    background-color: $LightTableEven;
}
.mat-row:nth-child(odd){
    background-color: white;
}

.darkTheme .white{
    color: white;
}

.add:disabled, .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}

.darkTheme .add:disabled , .darkTheme .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}

.mat-form-field-disabled, ::ng-deep .mat-form-field-disabled .mat-form-field-label{
  color: rgba(0,0,0,.26) !important;
}

mat-form-field.mat-form-field-disabled ::ng-deep  .mat-form-field-flex{
  background-color: rgba(0,0,0,.12) !important;
}

#excel{
  background-color: #1F6E43;
  color: white;
}

#excel:disabled{
  background-color: rgba(0,0,0,.12) !important;
  color: rgba(0,0,0,.26);
}

::ng-deep .mat-sort-header-container{
  width: fit-content;
  margin-inline: auto;
}

mat-form-field{
  width: fit-content;
}

::ng-deep .mat-paginator-range-label{
  direction: ltr;
}