<h2 mat-dialog-title>الدراسات والدورات</h2>

<mat-dialog-content class="mat-typography">


  <form [formGroup]="Form">

    <div class="inputsGroup">
      <div class="group1">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>الدورة</mat-label>
          <input type="text" matInput formControlName="course_id" 
            [matAutocomplete]="auto_course_id"
            id="course_id" (keyup.enter)="focusNext('specification_id')">
          <mat-error *ngIf="errorHandling('course_id', 'required')"> يجب ادخال الدورة<strong>name</strong> </mat-error>
          <mat-error *ngIf="((course_id.invalid || course_id.errors)  && (course_id.dirty || course_id.touched) )">
            sdfsdf
          </mat-error>
          <mat-hint *ngIf="((course_id.invalid || course_id.errors)  && (course_id.dirty || course_id.touched) )"><span
              class="mat-error">قم باحتيار الدورة المتبعة</span></mat-hint>
          <mat-autocomplete #auto_course_id="matAutocomplete" [displayWith]="displayCourseProperty.bind(this)"
            (optionSelected)="OnSelectCourseChange($event)">
            <mat-option *ngFor="let option of filteredCourseOptions | async" [value]="option.course_id">
              {{option.course_name}}
            </mat-option>
          </mat-autocomplete>

        </mat-form-field>



        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>الاختصاص</mat-label>
          <input type="text" matInput formControlName="specification_id"
            [matAutocomplete]="auto_specification_id"
            id="specification_id" (keyup.enter)="focusNext('country_id')">
          <mat-autocomplete #auto_specification_id="matAutocomplete"
            [displayWith]="displaySpecificationProperty.bind(this)"
            (optionSelected)="OnSelectSpecificationChange($event)">
            <mat-option *ngFor="let option of filteredSpecificationOptions | async" [value]="option.specification_id">
              {{option.specification_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>




        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>الدولة أو البلد</mat-label>
          <input type="text" matInput formControlName="country_id"
            [matAutocomplete]="auto_country_id"
            id="country_id" (keyup.enter)="focusNext('city_id')">
          <mat-autocomplete #auto_country_id="matAutocomplete" [displayWith]="displayCountryProperty.bind(this)"
            (optionSelected)="OnSelectCountryChange($event)">
            <mat-option *ngFor="let option of filteredCountryOptions | async" [value]="option.country_id">
              {{option.country_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>



        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>المدينة</mat-label>
          <input type="text" matInput  formControlName="city_id"
            [matAutocomplete]="auto_city_id"
            id="city_id" (keyup.enter)="focusNext('startDateDay')">
          <mat-autocomplete #auto_city_id="matAutocomplete" [displayWith]="displayStateProperty.bind(this)"
            (optionSelected)="OnSelectStateChange($event)">
            <mat-option *ngFor="let option of filteredStateOptions | async" [value]="option.state_id">
              {{option.state_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="group2">
        <div class="date">
          <span>تاريخ بداية الدورة:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="startDateChange('day')"
              [(ngModel)]='startDateDay' [ngModelOptions]="{standalone: true}"
              id="startDateDay" (keyup.enter)="focusNext('startDateMonth')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="startDateChange('month')"
              [(ngModel)]='startDateMonth' [ngModelOptions]="{standalone: true}"
              id="startDateMonth" (keyup.enter)="focusNext('startDateYear')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="startDateChange('year')"
              [(ngModel)]='startDateYear' [ngModelOptions]="{standalone: true}"
              id="startDateYear" (keyup.enter)="focusNext('endDateDay')">
          </mat-form-field>
          </div>
        </div>

        <div class="date">
          <span>تاريخ نهاية الدورة:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="endDateChange('day')"
              [(ngModel)]='endDateDay' [ngModelOptions]="{standalone: true}"
              id="endDateDay" (keyup.enter)="focusNext('endDateMonth')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="endDateChange('month')"
              [(ngModel)]='endDateMonth' [ngModelOptions]="{standalone: true}"
              id="endDateMonth" (keyup.enter)="focusNext('endDateYear')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="endDateChange('year')"
              [(ngModel)]='endDateYear' [ngModelOptions]="{standalone: true}"
              id="endDateYear" (keyup.enter)="focusNext('studyduration')">
          </mat-form-field>
          </div>
        </div>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>مدة الدورة</mat-label>

          <input matInput placeholder="مدة الدورة" formControlName="studyduration"
          id="studyduration" (keyup.enter)="focusNext('course_id')">

        </mat-form-field>
      </div>
    </div>
        









        

  </form>
</mat-dialog-content>
<mat-dialog-actions>

  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon class="mat-icon-rtl-mirror">close
    </mat-icon>
    اغلاق
  </button>





  <button mat-raised-button color="accent" (click)="onReset()">
    <mat-icon class="mat-icon-rtl-mirror">clear
    </mat-icon>
    مسح الشاشة
  </button>


  <button mat-raised-button color="primary" cdkFocusInitial (click)="Save()">
    <mat-icon class="mat-icon-rtl-mirror">save
    </mat-icon>
    حفظ
  </button>

</mat-dialog-actions>