<form  [formGroup]="Form" #form="ngForm">
    <div class="r" *ngIf="this.TblShamelNewPayrolAddDetail?.TblShamelNewPayrolTax?.payroltaxtype =='ta3weed'">
            <div class="col" >
                <mat-form-field color="primary" appearance="fill">
                    <input matInput formControlName="name">
                </mat-form-field>
            </div>

            <div class="col " >
                <mat-form-field class="sm-field" color="primary" appearance="fill">
                    <input #input1 matInput formControlName="ta3weed_amount" (change)="clearPercentInput()">
                </mat-form-field>
            </div>

            <div class="col" >
                <mat-form-field class="sm-field" color="primary" appearance="fill">
                    <input #input2 matInput formControlName="ta3weed_percent" (change)="CalcTawidPercent()">
                </mat-form-field>
            </div>
            <div class="col sm-field" >
                <mat-checkbox class="example-margin" color="primary" formControlName="ta3weed_active"></mat-checkbox>
            </div>

        </div>
    <!--تعويضات-->

    <div class="r" *ngIf="this.TblShamelNewPayrolAddDetail?.TblShamelNewPayrolTax?.payroltaxtype =='taxtemp'">
            <div class="col" >
                <mat-form-field color="primary" appearance="fill">
                    <input matInput formControlName="name">
                </mat-form-field>
            </div >

            <div class="col" >
                <mat-form-field class="sm-field" color="primary" appearance="fill">
                    <input matInput formControlName="taxtemp_amount">
                </mat-form-field>
            </div >

            <div class="col" >
                <mat-form-field class="sm-field" color="primary" appearance="fill">
                    <input matInput formControlName="taxtemp_percent" (change)="CalcTaxTempPercent()">
                </mat-form-field>
            </div >

           
            <div class="col sm-field" >
                <mat-checkbox class="example-margin" color="primary" formControlName="taxtemp_active"></mat-checkbox>
            </div >

    </div>


    <div class="r" *ngIf="this.TblShamelNewPayrolAddDetail?.TblShamelNewPayrolTax?.payroltaxtype =='recurr'">
            <div class="col" >
                <mat-form-field color="primary" appearance="fill">
                    <input matInput formControlName="name">
                </mat-form-field>
            </div >

            <div class="col" >
                <mat-form-field class="sm-field" color="primary" appearance="fill">
                    <input matInput formControlName="taxrecurr_fee">
                </mat-form-field>
            </div >

            <div class="col" >
                <mat-form-field class="sm-field" color="primary" appearance="fill">
                    <input matInput formControlName="taxrecurr_balance">
                </mat-form-field>
            </div >

            <div class="col" >
                <mat-form-field class="sm-field" color="primary" appearance="fill">
                    <input matInput formControlName="taxrecurr_total">
                </mat-form-field>
            </div >
            <div class="col sm-field" >
                <mat-checkbox class="example-margin" color="primary" formControlName="taxrecurr_active"></mat-checkbox>

            </div >

    </div>