<mat-dialog-content class="mat-typography">
<div class=WordSection1 *ngIf="data[0]!= null && data[0].id != null &&  data[0].id>0">

    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=208 style='width:155.8pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><b><span
      lang=AR-SY style='font-family:"Arial",sans-serif'>الجمهورية العربية السورية</span></b><b><span
      dir=ltr><br>
      </span></b><b><span lang=AR-SY style='font-family:"Arial",sans-serif'>وزارة
      التربية<br>
      مديرية التربية </span></b><span dir=ltr></span><b><span dir=ltr><span
      dir=ltr></span>/</span></b><span dir=rtl></span><b><span lang=AR-SY
      style='font-family:"Arial",sans-serif'><span dir=rtl></span> ادلب</span></b></p>
      </td>
      <td width=208 style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=ltr style='margin-bottom:0in;text-align:
      center;line-height:normal'><b><span lang=AR-SA dir=rtl style='font-family:
      "Arial",sans-serif'>شهادة خبرة</span></b></p>
      </td>
      <td width=322 style='width:241.25pt;padding:0in 5.4pt 0in 5.4pt'>
      <div align=right>
      <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none'>
       <tr>
        <td width=170 style='width:127.5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>رقم الإضبارة: {{data[0].id}}</span></p>
        </td>
        <td width=150 style='width:127.5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>رقم الحاسوب: {{data[0].Computer_ID}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=170 style='width:127.5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الرقم الذاتي: {{data[0].Global_ID}}</span></p>
        </td>
        <td width=150 style='width:127.5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الرقم التأميني: {{data[0].Insurance_ID}}</span></p>
        </td>
       </tr>
      </table>
      </div>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=208 valign=top style='width:155.8pt;border:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <div align=right>
      <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none'>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SY style='font-family:"Arial",sans-serif'>الاسم:</span></p>
        </td>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0].FName}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الكنية:</span></p>
        </td>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0].LName}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الأب:</span></p>
        </td>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0].Father}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الأم:</span></p>
        </td>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0].Mother}}</span></p>
        </td>
       </tr>
      </table>
      </div>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'></p>
      </td>
      <td width=208 style='width:155.85pt;border:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <div align=center>
      <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none'>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>مكان الولادة:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0].Birth_Place}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>تاريخ الولادة:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0].BirthDate | date:'yyyy/MM/dd'}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>محل ورقم القيد:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0].Kayd_Place}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الجنس:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0].Sex_Name}}</span></p>
        </td>
       </tr>
      </table>
      </div>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'></p>
      </td>
      <td width=208 style='width:155.85pt;border:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <div align=center>
      <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none'>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الجنسية:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.TBLShamelNationality?.Nationality_Name}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الهاتف:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0].PhoneNum}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>محل الإقامة:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0].ManualAddress}}</span></p>
        </td>
       </tr>
      </table>
      </div>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=623 style='width:467.5pt;border:solid windowtext 1.0pt;border-bottom:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>عين السيد {{data[0].FName}} {{data[0].LName}} بوظيفة {{data[0]?.TBLShamelSCJobStates[0]?.TBLShamelJobName?.jobname_name}}
      من الفئة {{data[0]?.TBLShamelSCJobStates[0]?.TBLShamelClass?.class_name}}</span></p>
      </td>
     </tr>
     <tr>
      <td width=623 style='width:467.5pt;border:solid windowtext 1.0pt;border-top:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>بموجب تثبيت رقم {{data[0]?.TBLShamelSCJobStates[0]?.doc_number}} تاريخ {{data[0]?.TBLShamelSCJobStates[0]?.doc_date | date:'yyyy/MM/dd'}}</span><span
      lang=AR-SY style='font-family:"Arial",sans-serif'> وقد باشر بالعمل بتاريخ {{data[0]?.TBLShamelSCJobStates[0]?.begindate | date:'yyyy/MM/dd'}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center *ngIf="data[1].radioButtonsGroup != 2">
    
    <table  *ngFor="let calculatedJobState of calculatedJobStates" class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=623 colspan=3 style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>وقد بلغ مجموع خدماته بوظيفة: {{calculatedJobState.jobName}}</span></p>
      </td>
     </tr>
     <tr>
      <td width=208 style='width:155.8pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>سنة</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>شهر</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>يوم</span></p>
      </td>
     </tr>
     <tr>
      <td width=208 style='width:155.8pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{calculatedJobState.totalyears}}</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{calculatedJobState.totalMonths}}</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{calculatedJobState.totalDays}}</span></p>
      </td>
     </tr>
     <tr>
      <td width=208 style='width:155.8pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>ثمانية عشر</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>ثمانية</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>صفر</span></p>
      </td>
     </tr>
     <br>
     <br>
     <br>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center *ngIf="data[1].radioButtonsGroup != 1">
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=623 colspan=3 style='width:467.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>وقد بلغ إجمالي مجموع خدماته كما يلي</span></p>
      </td>
     </tr>
     <tr>
      <td width=208 style='width:155.8pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>سنة</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>شهر</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>يوم</span></p>
      </td>
     </tr>
     <tr>
      <td width=208 style='width:155.8pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{totalServicesYears}}</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{totalServicesMonths}}</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{totalServicesDays}}</span></p>
      </td>
     </tr>
     <tr>
      <td width=208 style='width:155.8pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>ثمانية عشر</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>ثمانية</span></p>
      </td>
      <td width=208 style='width:155.85pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>صفر</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=146 style='width:109.6pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title1}}</span></p>
      </td>
      <td width=136 style='width:101.9pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title2}}</span></p>
      </td>
      <td width=120 style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title3}}</span></p>
      </td>
      <td width=120 valign=top style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title4}}</span></p>
      </td>
      <td width=126 valign=top style='width:94.5pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title5}}</span></p>
      </td>
     </tr>
     <tr>
      <td width=146 style='width:109.6pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name1}}</span></p>
      </td>
      <td width=136 style='width:101.9pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name2}}</span></p>
      </td>
      <td width=120 style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name3}}</span></p>
      </td>
      <td width=120 valign=top style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name4}}</span></p>
      </td>
      <td width=126 valign=top style='width:94.5pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name5}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span dir=ltr>&nbsp;</span></p>
    
    </div>
</mat-dialog-content>
