
<form [formGroup]="myform" >

  <h1 mat-dialog-title> :: <strong>{{action}}</strong>   دكتور  </h1>

   <div mat-dialog-content>

    <div class="col-8" *ngIf="action != 'حذف'; else elseTemplate">
      <div class="col-8 row">
      <div class="col-6">
        <mat-form-field >
          <input placeholder="{{action}}  الدكتور/ة" matInput
                formControlName="Doctor_name">
        </mat-form-field>  
      </div>
      <div class="col-6">
        <mat-checkbox color="primary" [formControl]="frm_fixed" [(ngModel)]="local_data!.Fixed"> هل هو مثبت         </mat-checkbox>  
      </div>
      
      
    </div>
  </div>

    <ng-template #elseTemplate>
        هل أنت متأكد من حذف الدكتور <b>{{local_data.doctor_name}}</b>؟
    </ng-template>
   </div>
   <div mat-dialog-actions>
    <button mat-button (click)="doAction()">{{action}}</button>
    <button mat-button (click)="closeDialog()" mat-flat-button color="warn">إالغاء</button>
   </div>
  </form>
