<h1 mat-dialog-title>بحث عن موظف</h1>
<div mat-dialog-content>
  <form [formGroup]="Form">
      <div class="right">
          <mat-form-field class="example-full-width fitContent" appearance="fill">
              <mat-label>الاسم</mat-label>
              <input matInput value="" formControlName="fcl_FirstName">
            </mat-form-field>
            <mat-form-field class="example-full-width fitContent" appearance="fill">
              <mat-label>الكنية</mat-label>
              <input matInput value="" formControlName="fcl_LastName">
            </mat-form-field>
      </div>
      <div class="left">
          <mat-form-field class="example-full-width fitContent" appearance="fill">
              <mat-label>الأب</mat-label>
              <input matInput value="" formControlName="fcl_Father">
            </mat-form-field>
            <mat-form-field class="example-full-width fitContent" appearance="fill">
              <mat-label>الأم</mat-label>
              <input matInput value="" formControlName="fcl_Mother">
            </mat-form-field>
      </div>

      
  </form>
  <button mat-raised-button color="primary" (click)="view()">عرض</button>

  <div class="table-wrap">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
    
          <!-- id Column -->
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الإضبارة </th>
              <td mat-cell *matCellDef="let element">{{element?.id}}</td>
          </ng-container>
    
          <!-- firstName Column -->
          <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>الاسم</th>
              <td mat-cell *matCellDef="let element">{{element?.firstName}}</td>
          </ng-container>
    
          <!-- lastName Column -->
          <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>الكنية</th>
              <td mat-cell *matCellDef="let element">{{element?.lastName}}</td>
          </ng-container>
    
    
    
          <!-- father Column -->
          <ng-container matColumnDef="father">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>الأب</th>
              <td mat-cell *matCellDef="let element">{{element?.father}}</td>
          </ng-container>
    
    
          <!-- mother Column -->
          <ng-container matColumnDef="mother">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>الأم</th>
            <td mat-cell *matCellDef="let element">{{element?.mother}}</td>
          </ng-container>
    
          <!-- accounterName Column -->
          <ng-container matColumnDef="accounterName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم المعتمد</th>
            <td mat-cell *matCellDef="let element">{{element?.accounterName}}</td>
          </ng-container>
    
          
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator #paginator [pageSizeOptions]="[10, 15, 30]" showFirstLastButtons></mat-paginator>
    
    
    </div>


  <div mat-dialog-actions>
      <button mat-button [mat-dialog-close]="data" cdkFocusInitial>إغلاق</button>
  </div>
</div>
