@import '../../../../../../theme.scss';


.add, .edit{
    color: white !important;
    background-color: $lightPrimary !important;
    margin-block: 10px;
  }

  .darkTheme .add, .darkTheme .edit{
    color: white !important;
    background-color: $darkPrimary !important;
  }

  .add:disabled, .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}

.darkTheme .add:disabled , .darkTheme .edit:disabled{
    background-color: rgba(0,0,0,.12) !important;
    color: rgba(0,0,0,.26);
}

.mat-form-field-disabled, ::ng-deep .mat-form-field-disabled .mat-form-field-label{
  color: rgba(0,0,0,.26) !important;
}

mat-form-field.mat-form-field-disabled ::ng-deep  .mat-form-field-flex{
  background-color: rgba(0,0,0,.12) !important;
}