<div class="theme" [class.darkTheme]="darkTheme">
  <h2 mat-dialog-title>تعديل الإجازة الصحية</h2>

<mat-dialog-content class="mat-typography">

  <progress *ngIf="!isLoadingFinish"></progress>
  
  <!-- <ngx-hover-opacity [isHoverVisible]="isLoadingFinish"> -->

  <form [formGroup]="Form">

    <div class="row text-left">

      <div class="date">
        <span>تاريخ بداية الإجازة:</span>
        <div class="dateContent">
          <mat-form-field class="example-full-width small-width" appearance="fill" >
            <mat-label>اليوم</mat-label>
            <input matInput placeholder="ex: 21" (change)="startDateChange('day')"
            [(ngModel)]='startDateDay' [ngModelOptions]="{standalone: true}"
            id="startDateDay" (keyup.enter)="focusNext('startDateMonth')">
          </mat-form-field>

          <mat-form-field class="example-full-width small-width" appearance="fill" >
            <mat-label>الشهر</mat-label>
            <input matInput placeholder="ex: 1" (change)="startDateChange('month')"
            [(ngModel)]='startDateMonth' [ngModelOptions]="{standalone: true}"
            id="startDateMonth" (keyup.enter)="focusNext('startDateYear')">
          </mat-form-field>

          <mat-form-field class="example-full-width small-width" appearance="fill" >
            <mat-label>السنة</mat-label>
            <input matInput placeholder="ex: 2022"  (change)="startDateChange('year')"
            [(ngModel)]='startDateYear' [ngModelOptions]="{standalone: true}"
            id="startDateYear" (keyup.enter)="focusNext('endDateDay')">
        </mat-form-field>
        </div>
      </div>

      <div class="date">
        <span>تاريخ انتهاء الإجازة:</span>
        <div class="dateContent">
          <mat-form-field class="example-full-width small-width" appearance="fill" >
            <mat-label>اليوم</mat-label>
            <input matInput placeholder="ex: 21" (change)="endDateChange('day')"
            [(ngModel)]='endDateDay' [ngModelOptions]="{standalone: true}"
            id="endDateDay" (keyup.enter)="focusNext('endDateMonth')">
          </mat-form-field>

          <mat-form-field class="example-full-width small-width" appearance="fill" >
            <mat-label>الشهر</mat-label>
            <input matInput placeholder="ex: 1" (change)="endDateChange('month')"
            [(ngModel)]='endDateMonth' [ngModelOptions]="{standalone: true}"
            id="endDateMonth" (keyup.enter)="focusNext('endDateYear')">
          </mat-form-field>

          <mat-form-field class="example-full-width small-width" appearance="fill" >
            <mat-label>السنة</mat-label>
            <input matInput placeholder="ex: 2022"  (change)="endDateChange('year')"
            [(ngModel)]='endDateYear' [ngModelOptions]="{standalone: true}"
            id="endDateYear" (keyup.enter)="focusNext('duration')">
        </mat-form-field>
        </div>
      </div>

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 20px;">
          <mat-label>المدة</mat-label>
          <input matInput type="number" placeholder="المدة" value="" [formControl]="duration"
            formControlName="duration" id="duration" (keyup.enter)="focusNext('sick')">
        </mat-form-field>


      </div>
    </div>

    <div class="row justify-content-between text-left">

      <div class="form-group col-sm-4 flex-column d-flex">

        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 20px;">
          <mat-label>السبب</mat-label>
          <input matInput type="text" placeholder="المرض" value="" [formControl]="sick" (keyup.enter)="focusNext('doctor_id')"
            formControlName="sick" id="sick">
        </mat-form-field>

      </div>


      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 20px;">
          <mat-label>الطبيب</mat-label>
          <input type="text" matInput [formControl]="doctor_id" formControlName="doctor_id" id="doctor_id" (keyup.enter)="focusNext('documenttype_id')"
            [matAutocomplete]="auto_doctor_id" >
          <mat-error *ngIf="errorHandling('doctor_id', 'required')">
            اختر الطبيب
          </mat-error>

          <mat-error *ngIf="((doctor_id.invalid || doctor_id.errors)  && (doctor_id.dirty || doctor_id.touched) )">
          </mat-error>
          <mat-hint *ngIf="((doctor_id.invalid || doctor_id.errors)  && (doctor_id.dirty || doctor_id.touched) )">
            اختر الطبيب
            </mat-hint>

          <mat-autocomplete #auto_doctor_id="matAutocomplete" [displayWith]="displayDoctorProperty.bind(this)"
            (optionSelected)="OnSelectDoctorChange($event)"  >
            <mat-option *ngFor="let option of filteredDoctorOptions | async" [value]="option.doctor_id">
              {{option.doctor_name}}
            </mat-option>


          </mat-autocomplete>

        </mat-form-field>
      </div>
      <div class="form-group col-sm-4 flex-column d-flex">

      </div>
    </div>

    <div class="row justify-content-between text-left">

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 20px;">
          <mat-label>المستند</mat-label>
          <input type="text" matInput [formControl]="documenttype_id" formControlName="documenttype_id"
            [matAutocomplete]="auto_documenttype_id" id="documenttype_id" (keyup.enter)="focusNext('document_number')">
          <mat-autocomplete #auto_documenttype_id="matAutocomplete"
            [displayWith]="displayDocumentTypeProperty.bind(this)"
            (optionSelected)="OnSelectDocumentTypeChange($event)">
            <mat-option *ngFor="let option of filteredDocumentTypeOptions | async" [value]="option.documenttype_id">
              {{option.documenttype_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
      <div class="form-group col-sm-4 flex-column d-flex">

        <mat-form-field class="example-full-width" appearance="fill" style="margin-top: 20px;">
          <mat-label>رقم المستند</mat-label>
          <input matInput type="number" placeholder="" value="" [formControl]="document_number" id="document_number" (keyup.enter)="focusNext('documentDateDay')"
            formControlName="document_number" id="document_number">

        </mat-form-field>

      </div>
      <div class="form-group col-sm-4 flex-column d-flex">

        <div class="date">
          <span>تاريخ المستند:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="documentDateChange('day')"
              [(ngModel)]='documentDateDay' [ngModelOptions]="{standalone: true}"
              id="documentDateDay" (keyup.enter)="focusNext('documentDateMonth')">
            </mat-form-field>
  
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="documentDateChange('month')"
              [(ngModel)]='documentDateMonth' [ngModelOptions]="{standalone: true}"
              id="documentDateMonth" (keyup.enter)="focusNext('documentDateYear')">
            </mat-form-field>
  
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="documentDateChange('year')"
              [(ngModel)]='documentDateYear' [ngModelOptions]="{standalone: true}"
              id="documentDateYear" (keyup.enter)="focusNext('startDateDay')">
          </mat-form-field>
          </div>
        </div>

      </div>
    </div>

























  </form>

  <!-- </ngx-hover-opacity> -->

</mat-dialog-content>
<mat-dialog-actions >
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon class="mat-icon-rtl-mirror">close
    </mat-icon>
    اغلاق
  </button>





  <button mat-raised-button color="accent" (click)="onReset()">
    <mat-icon class="mat-icon-rtl-mirror">clear
    </mat-icon>
    مسح الشاشة
  </button>


  <button mat-raised-button class="add" cdkFocusInitial (click)="Save()">
    <mat-icon class="mat-icon-rtl-mirror">save
    </mat-icon>
    حفظ
  </button>

</mat-dialog-actions>
</div>