<div class="theme" [class.darkTheme]="darkTheme">
  <h2 mat-dialog-title>تعديل الإجازة الصحية</h2>

<mat-dialog-content class="mat-typography">

  <progress *ngIf="!isLoadingFinish"></progress>
  
  <!-- <ngx-hover-opacity [isHoverVisible]="isLoadingFinish"> -->

  <form [formGroup]="Form">

    <div class="row justify-content-between text-left">

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field appearance="fill">
          <mat-label>تاريخ بداية الإجازة</mat-label>
          <input matInput [matDatepicker]="Datepicker_startdate" formControlName="startdate" [formControl]="startdate"
            (dateInput)="addEventStartDate('input', $event)" (dateChange)="addEventStartDate('change', $event)" id="startdate">
          <mat-datepicker-toggle matSuffix [for]="Datepicker_startdate"></mat-datepicker-toggle>
          <mat-datepicker #Datepicker_startdate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field appearance="fill">
          <mat-label>تاريخ انتهاء الإجازة</mat-label>
          <input matInput [matDatepicker]="Datepicker_enddate" formControlName="enddate" [formControl]="enddate"
            (dateInput)="addEventEndDate('input', $event)" (dateChange)="addEventEndDate('change', $event)" id="enddate">
          <mat-datepicker-toggle matSuffix [for]="Datepicker_enddate"></mat-datepicker-toggle>
          <mat-datepicker #Datepicker_enddate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>المدة</mat-label>
          <input matInput type="number" placeholder="المدة" value="" [formControl]="duration"
            formControlName="duration" id="duration">
        </mat-form-field>


      </div>
    </div>

    <div class="row justify-content-between text-left">

      <div class="form-group col-sm-4 flex-column d-flex">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>السبب</mat-label>
          <input matInput type="text" placeholder="المرض" value="" [formControl]="sick"
            formControlName="sick" id="sick">
        </mat-form-field>

      </div>


      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>الطبيب</mat-label>
          <input type="text" matInput [formControl]="doctor_id" formControlName="doctor_id" id="doctor_id"
            [matAutocomplete]="auto_doctor_id" >
          <mat-error *ngIf="errorHandling('doctor_id', 'required')">
            اختر الطبيب
          </mat-error>

          <mat-error *ngIf="((doctor_id.invalid || doctor_id.errors)  && (doctor_id.dirty || doctor_id.touched) )">
          </mat-error>
          <mat-hint *ngIf="((doctor_id.invalid || doctor_id.errors)  && (doctor_id.dirty || doctor_id.touched) )">
            اختر الطبيب
            </mat-hint>

          <mat-autocomplete #auto_doctor_id="matAutocomplete" [displayWith]="displayDoctorProperty.bind(this)"
            (optionSelected)="OnSelectDoctorChange($event)"  >
            <mat-option *ngFor="let option of filteredDoctorOptions | async" [value]="option.doctor_id">
              {{option.doctor_name}}
            </mat-option>


          </mat-autocomplete>

        </mat-form-field>
      </div>
      <div class="form-group col-sm-4 flex-column d-flex">

      </div>
    </div>

    <div class="row justify-content-between text-left">

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>المستند</mat-label>
          <input type="text" matInput [formControl]="documenttype_id" formControlName="documenttype_id"
            [matAutocomplete]="auto_documenttype_id" id="documenttype_id">
          <mat-autocomplete #auto_documenttype_id="matAutocomplete"
            [displayWith]="displayDocumentTypeProperty.bind(this)"
            (optionSelected)="OnSelectDocumentTypeChange($event)">
            <mat-option *ngFor="let option of filteredDocumentTypeOptions | async" [value]="option.documenttype_id">
              {{option.documenttype_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>
      <div class="form-group col-sm-4 flex-column d-flex">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>رقم المستند</mat-label>
          <input matInput type="number" placeholder="" value="" [formControl]="document_number"
            formControlName="document_number" id="document_number">

        </mat-form-field>

      </div>
      <div class="form-group col-sm-4 flex-column d-flex">

        <mat-form-field appearance="fill">
          <mat-label>تاريخ المستند</mat-label>
          <input matInput [matDatepicker]="Datepicker_documentdate" formControlName="documentdate"
            [formControl]="documentdate" (dateInput)="addEventDocumentDate('input', $event)"
            (dateChange)="addEventDocumentDate('change', $event)" id="documentdate">
          <mat-datepicker-toggle matSuffix [for]="Datepicker_documentdate"></mat-datepicker-toggle>
          <mat-datepicker #Datepicker_documentdate></mat-datepicker>
        </mat-form-field>


      </div>
    </div>

























  </form>

  <!-- </ngx-hover-opacity> -->

</mat-dialog-content>
<mat-dialog-actions >
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon class="mat-icon-rtl-mirror">close
    </mat-icon>
    اغلاق
  </button>





  <button mat-raised-button color="accent" (click)="onReset()">
    <mat-icon class="mat-icon-rtl-mirror">clear
    </mat-icon>
    مسح الشاشة
  </button>


  <button mat-raised-button class="add" cdkFocusInitial (click)="Save()">
    <mat-icon class="mat-icon-rtl-mirror">save
    </mat-icon>
    حفظ
  </button>

</mat-dialog-actions>
</div>