<h2 mat-dialog-title>الدورات التدريبية</h2>

<mat-dialog-content class="mat-typography">


  <form [formGroup]="Form">





    <div class="row justify-content-between text-left">

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field appearance="fill">
          <mat-label>تاريخ بداية الإجازة</mat-label>
          <input matInput [matDatepicker]="Datepicker_startdate" [formControl]="fcl_startdate"  >
          <mat-datepicker-toggle matSuffix [for]="Datepicker_startdate"></mat-datepicker-toggle>
          <mat-datepicker #Datepicker_startdate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field appearance="fill">
          <mat-label>تاريخ الانتهاء</mat-label>
          <input matInput [matDatepicker]="Datepicker_enddate" formControlName="enddate" [formControl]="fcl_enddate"  >
          <mat-datepicker-toggle matSuffix [for]="Datepicker_enddate"></mat-datepicker-toggle>
          <mat-datepicker #Datepicker_enddate></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>المدة</mat-label>        
            <input matInput type="number" placeholder="المدة" value="" [formControl]="fcl_duration"   >        
        </mat-form-field>
  
      </div>
      
    </div>

    <div class="row justify-content-between text-left">

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>السبب</mat-label>
          <input type="text" matInput [formControl]="fcl_suddenholiday_id"  [matAutocomplete]="auto_suddenholiday_id">
          <mat-autocomplete #auto_suddenholiday_id="matAutocomplete" [displayWith]="Display_TBLShamelSuddenHoliday.bind(this)" (optionSelected)="OnSelect_SuddenHoliday($event)">
            <mat-option *ngFor="let option of Filtered_TBLShamelSuddenHoliday | async" [value]="option.suddenholiday_id">
              {{option.suddenholiday_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
  
      </div>
    </div>


    <div class="row justify-content-between text-left">

      <div class="form-group col-sm-4 flex-column d-flex">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>المستند</mat-label>
            <input type="text" matInput [formControl]="fcl_documenttype_id" formControlName="documenttype_id"
              [matAutocomplete]="auto_documenttype_id">
            <mat-autocomplete #auto_documenttype_id="matAutocomplete"
              [displayWith]="displayDocumentTypeProperty.bind(this)"
              (optionSelected)="OnSelect_DocumentType($event)">
              <mat-option *ngFor="let option of filteredDocumentTypeOptions | async" [value]="option.documenttype_id">
                {{option.documenttype_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
      </div>

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>رقم المستند</mat-label>        
            <input matInput type="number" placeholder="رقم المستند" value="رقم المستند" [formControl]="fcl_document_number"   >        
        </mat-form-field>
  
      </div>

      <div class="form-group col-sm-4 flex-column d-flex">
        <mat-form-field appearance="fill">
          <mat-label>تاريخ المستند</mat-label>
          <input matInput [matDatepicker]="Datepicker_documentdate" [formControl]="fcl_documentdate">
          <mat-datepicker-toggle matSuffix [for]="Datepicker_documentdate"></mat-datepicker-toggle>
          <mat-datepicker #Datepicker_documentdate></mat-datepicker>
        </mat-form-field>
  
      </div>

    </div>


    <div class="row justify-content-between text-left">

      <div class="form-group col-sm-10 flex-column d-flex">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>ملاحظات</mat-label>
            <input type="text" matInput [formControl]="fcl_notes" formControlName="notes">
          </mat-form-field>
      </div>

    
    </div>

  </form>
  </mat-dialog-content>
  <mat-dialog-actions >
    <button mat-raised-button color="warn" mat-dialog-close >
      <mat-icon class="mat-icon-rtl-mirror">close
    </mat-icon>
    اغلاق
    </button>



  

    <button mat-raised-button color="accent"   (click)="onReset()" >
      <mat-icon class="mat-icon-rtl-mirror">clear
      </mat-icon>
      مسح الشاشة
    </button>


    <button  mat-raised-button color="primary"  cdkFocusInitial (click)="Save()" >
      <mat-icon class="mat-icon-rtl-mirror">save
      </mat-icon>
      حفظ
    </button>

  </mat-dialog-actions>