.note{
    color: red;
    display: block;
    margin-inline: auto;
    margin-bottom: 10px;
}

.date{
    background-color: gray;
    padding: 10px;
    margin-top: 10px;
    display: block;
    width: fit-content;
}

button{
    display: block;
    margin-inline: auto;
    margin-bottom: 10px;
}

th{
    background-color: gray;
    color: white;
  }