<div class="theme" [class.darkTheme]="darkTheme">
    <div mat-dialog-content>
        <form [formGroup]="Form">

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>اسم الموظف</mat-label>
                        <input type="text" placeholder="اسم الموظف" aria-label="اسم الموظف" matInput
                            formControlName="broker" [matAutocomplete]="auto_broker" 
                            (keyup.enter)="focusNext('area_id')" id="broker"/>
                        <mat-autocomplete #auto_broker="matAutocomplete"
                            [displayWith]="Display_OverTimeEmployee_Fn.bind(this)"
                            (optionSelected)="OnOverTimeEmployeeSelected($event)">
                            <mat-option *ngFor="let broker of List_Overtime_employee_Name_Filter | async"
                                [value]="broker">
                                {{broker.fullname}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>المنطقة</mat-label>
                        <input type="text" matInput formControlName="area_id" [matAutocomplete]="auto_Area_id"
                        (keyup.enter)="focusNext('year_id')" id="area_id">
                        <mat-error *ngIf="errorHandling('area_id', 'required')"> يجب ادخال
                            المنطقة<strong>name</strong> </mat-error>


                        <mat-autocomplete #auto_Area_id="matAutocomplete"
                            [displayWith]="Display_Area_Property.bind(this)"
                            (optionSelected)="OnSelectArea($event)">
                            <mat-option *ngFor="let option of List_Area_Id_Filter  | async"
                                [value]="option.area_id">
                                {{option.area_name}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>العام</mat-label>
                        <input type="text" matInput formControlName="year_id" [matAutocomplete]="auto_year_id"
                        (keyup.enter)="focusNext('month_id')" id="year_id">
                        <mat-error *ngIf="errorHandling('year_id', 'required')"> يجب ادخال
                            العام<strong>name</strong> </mat-error>


                        <mat-autocomplete #auto_year_id="matAutocomplete"
                            [displayWith]="Display_Year_Property.bind(this)"
                            (optionSelected)="OnSelectYear($event)">
                            <mat-option *ngFor="let option of List_TBLShamelYear_Filter  | async"
                                [value]="option.year_id">
                                {{option.year_name}}
                            </mat-option>
                        </mat-autocomplete>

                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>الشهر</mat-label>
                        <input type="text" matInput formControlName="month_id" [matAutocomplete]="auto_Month_id"
                        (keyup.enter)="focusNext('school_id')" id="month_id">
                        <mat-error *ngIf="errorHandling('month_id', 'required')"> يجب ادخال
                            الشهر<strong>name</strong> </mat-error>


                        <mat-autocomplete #auto_Month_id="matAutocomplete"
                            [displayWith]="Display_Month_Property.bind(this)"
                            (optionSelected)="OnSelectMonth($event)">
                            <mat-option *ngFor="let option of List_TBLShamelMonth_Filter  | async"
                                [value]="option.month_id">
                                {{option.month_name}}
                            </mat-option>


                        </mat-autocomplete>

                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>المدرسة</mat-label>
                        <input type="text" matInput formControlName="school_id" [matAutocomplete]="auto_School_id"
                        (keyup.enter)="focusNext('daycount')" id="school_id">
                        <mat-error *ngIf="errorHandling('school_id', 'required')"> يجب ادخال
                            المدرسة<strong>name</strong> </mat-error>


                        <mat-autocomplete #auto_School_id="matAutocomplete"
                            [displayWith]="Display_School_Property.bind(this)"
                            (optionSelected)="OnSelectTblShamelMoneyM3PayDest($event)">
                            <mat-option *ngFor="let option of List_ShamelMoneyM3PayDest_Filter  | async"
                                [value]="option.serial">
                                {{option.paydest_name}}
                            </mat-option>


                        </mat-autocomplete>

                    </mat-form-field>

                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>ساعات الخدمة</mat-label>
            
                        <input matInput type="number" value="" formControlName="daycount" id="daycount" (keyup.enter)="focusNext('broker_id')" required>
            
                    </mat-form-field>
        </form>

        
    </div>
    <mat-dialog-actions>
        <button mat-raised-button color="warn" [mat-dialog-close]="false">
            <mat-icon class="mat-icon-rtl-mirror">close
            </mat-icon>
            اغلاق
        </button>
    
        <button mat-raised-button color="accent" (click)="onReset()">
            <mat-icon class="mat-icon-rtl-mirror">clear
            </mat-icon>
            مسح الشاشة
        </button>
        <button mat-raised-button class="edit" (click)="Save()">حفظ</button>
    </mat-dialog-actions>
</div>