<mat-dialog-content class="mat-typography">
<div class=WordSection1 >

    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=208 style='width:155.8pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><b><span
      lang=AR-SY style='font-family:"Arial",sans-serif'>وزارة التربية<br>
      مديرية التربية </span></b><span ></span><b><span ><span
      ></span>/</span></b><span dir=rtl></span><b><span lang=AR-SY
      style='font-family:"Arial",sans-serif'><span dir=rtl></span> ادلب</span></b></p>
      </td>
      <td width=208 style='width:155.85pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><b><span
      lang=AR-SA style='font-family:"Arial",sans-serif'>بيانات العامل الإضافية</span></b></p>
      </td>
      <td width=322 style='width:241.25pt;padding:0in 5.4pt 0in 5.4pt'>
      <div align=right>
      <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none'>
       <tr>
        <td width=170 style='width:127.5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>رقم الإضبارة: {{data[0]?.id}}</span></p>
        </td>
        <td width=136 style='width:102.35pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>رقم الحاسوب: {{data[0]?.Computer_ID}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=170 style='width:127.5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الرقم الذاتي: {{data[0]?.Global_ID}}</span></p>
        </td>
        <td width=136 style='width:102.35pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الرقم التأميني: {{data[0]?.Insurance_ID}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=170 style='width:127.5pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الرقم الوطني: {{data[0]?.ID_Number}}</span></p>
        </td>
        <td width=136 style='width:102.35pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
        </td>
       </tr>
      </table>
      </div>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=208 valign=top style='width:155.8pt;border:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <div align=right>
      <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none'>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SY style='font-family:"Arial",sans-serif'>الاسم:</span></p>
        </td>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.FName}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الكنية:</span></p>
        </td>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.LName}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الأب:</span></p>
        </td>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.Father}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الأم:</span></p>
        </td>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.Mother}}</span></p>
        </td>
       </tr>
      </table>
      </div>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'></p>
      </td>
      <td width=208 style='width:155.85pt;border:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <div align=center>
      <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none'>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>مكان الولادة:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.Birth_Place}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>تاريخ الولادة:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.BirthDate | date:'yyyy/MM/dd'}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>محل ورقم القيد:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.Kayd_Place}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الجنس:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.Sex_Name}}</span></p>
        </td>
       </tr>
      </table>
      </div>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'></p>
      </td>
      <td width=208 style='width:155.85pt;border:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <div align=center>
      <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
       style='border-collapse:collapse;border:none'>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الجنسية:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.TBLShamelNationality?.Nationality_Name}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الهاتف:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.PhoneNum}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>محل الإقامة:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.ManualAddress}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=96 style='width:72.25pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>الرقم الوطني:</span></p>
        </td>
        <td width=96 style='width:72.3pt;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.ID_Number}}</span></p>
        </td>
       </tr>
      </table>
      </div>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center *ngIf="data[1]?.holidaiesCheckbox">
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=623 colspan=7 style='width:467.5pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><b><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>الإجازات بدون أجر</span></b></p>
      </td>
     </tr>
     <tr>
      <td width=89 style='width:66.75pt;border:solid windowtext 1.0pt;border-top:
      none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>المدة</span></p>
      </td>
      <td width=89 style='width:66.75pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>تاريخ البدء</span></p>
      </td>
      <td width=89 style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>تاريخ النهاية</span></p>
      </td>
      <td width=89 style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>الأسباب</span></p>
      </td>
      <td width=89 style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>نوع المستند</span></p>
      </td>
      <td width=89 style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>رقم المستند</span></p>
      </td>
      <td width=89 style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>تاريخ المستند</span></p>
      </td>
     </tr>
     <tr *ngFor="let TBLShamelSCFreeHoliday of data[0]?.TBLShamelSCFreeHolidays">
      <td width=89 style='width:66.75pt;border:solid windowtext 1.0pt;border-top:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCFreeHoliday.duration}}</span></p>
      </td>
      <td width=89 style='width:66.75pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span 
      style='font-size:9.0pt'>{{TBLShamelSCFreeHoliday?.startdate | date:'yyyy/MM/dd'}}</span></p>
      </td>
      <td width=89 style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span 
      style='font-size:9.0pt'>{{TBLShamelSCFreeHoliday?.enddate | date:'yyyy/MM/dd'}}</span></p>
      </td>
      <td width=89 style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCFreeHoliday?.TBLShamelFreeHolidayReason?.freeholidayreason_name}}</span></p>
      </td>
      <td width=89 style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCFreeHoliday?.TBLShamelDocumentType?.documenttype_name}}</span></p>
      </td>
      <td width=89 style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCFreeHoliday?.document_number}}</span></p>
      </td>
      <td width=89 style='width:66.8pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span 
      style='font-size:9.0pt'>{{TBLShamelSCFreeHoliday?.documentdate | date:'yyyy/MM/dd'}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center *ngIf="data[1]?.punishmentsCheckbox">
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=623 colspan=6 style='width:467.5pt;border:none;border-bottom:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><b><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>العقوبات</span></b></p>
      </td>
     </tr>
     <tr>
      <td width=104 style='width:77.9pt;border:solid windowtext 1.0pt;border-top:
      none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>نوع العقوبة</span></p>
      </td>
      <td width=104 style='width:77.9pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>الأسباب</span></p>
      </td>
      <td width=104 style='width:77.9pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>توع المستند</span></p>
      </td>
      <td width=104 style='width:77.9pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>رقم</span></p>
      </td>
      <td width=104 style='width:77.95pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>تاريخ</span></p>
      </td>
      <td width=104 style='width:77.95pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>ملاحظات</span></p>
      </td>
     </tr>
     <tr *ngFor="let TBLShamelSCPunishment of data[0]?.TBLShamelSCPunishments">
      <td width=104 style='width:77.9pt;border:solid windowtext 1.0pt;border-top:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCPunishment?.punishment_name}}</span></p>
      </td>
      <td width=104 style='width:77.9pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCPunishment?.TBLShamelPunishmentReason?.punishmentreason_name}}</span></p>
      </td>
      <td width=104 style='width:77.9pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCPunishment?.TBLShamelDocumentType?.documenttype_name}}</span></p>
      </td>
      <td width=104 style='width:77.9pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCPunishment?.document_number}}</span></p>
      </td>
      <td width=104 style='width:77.95pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCPunishment?.documentdate | date:'yyyy/MM/dd'}}</span></p>
      </td>
      <td width=104 style='width:77.95pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCPunishment?.is_cancel? "تم طي العقوبة": ""}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center *ngIf="data[1]?.bonusCheckbox">
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=623 colspan=5 valign=top style='width:467.5pt;border:none;
      border-bottom:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><b><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>المكافئات</span></b></p>
      </td>
     </tr>
     <tr>
      <td width=125 valign=top style='width:93.5pt;border:solid windowtext 1.0pt;
      border-top:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>نوع المكافأة</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>الأسباب</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>نوع المستند</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>رقم المستند</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>تاريخ المستند</span></p>
      </td>
     </tr>
     <tr *ngFor="let TBLShamelSCBonus of data[0]?.TBLShamelSCBonuss">
      <td width=125 valign=top style='width:93.5pt;border:solid windowtext 1.0pt;
      border-top:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCBonus?.TBLShamelBonus?.bonus_name}}</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCBonus?.TBLShamelBonusReason?.bonusreason_name}}</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCBonus?.TBLShamelDocumentType?.documenttype_name}}</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCBonus?.document_number}}</span></p>
      </td>
      <td width=125 valign=top style='width:93.5pt;border-top:none;border-left:
      solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{TBLShamelSCBonus?.documentdate | date:'yyyy/MM/dd'}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=66 style='width:49.2pt;border-top:solid windowtext 1.0pt;
      border-left:none;border-bottom:none;border-right:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>ملاحظة1:</span></p>
      </td>
      <td width=558 style='width:418.3pt;border-top:solid windowtext 1.0pt;
      border-left:solid windowtext 1.0pt;border-bottom:none;border-right:none;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.Rem1}}</span></p>
      </td>
     </tr>
     <tr>
      <td width=66 style='width:49.2pt;border:none;border-right:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>ملاحظة2:</span></p>
      </td>
      <td width=558 style='width:418.3pt;border:none;border-left:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.Rem2}}</span></p>
      </td>
     </tr>
     <tr>
      <td width=66 style='width:49.2pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>ملاحظة3:</span></p>
      </td>
      <td width=558 style='width:418.3pt;border-top:none;border-left:solid windowtext 1.0pt;
      border-bottom:solid windowtext 1.0pt;border-right:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{data[0]?.Rem3}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=623 style='width:467.5pt;border:solid windowtext 1.0pt;padding:
      0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal dir=rtl style='margin-bottom:0in;text-align:right;
      line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>انتهت بيانات العامل {{data[0]?.FName}} {{data[0]?.LName}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=146 style='width:109.6pt;border:none;padding:
      0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title1}}</span></p>
      </td>
      <td width=136 style='width:101.9pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title2}}</span></p>
      </td>
      <td width=120 style='width:1.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title3}}</span></p>
      </td>
      <td width=120 valign=top style='width:1.25in;border:none;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title4}}</span></p>
      </td>
      <td width=126 valign=top style='width:94.5pt;border:none;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title5}}</span></p>
      </td>
     </tr>
     <tr>
      <td width=146 style='width:109.6pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name1}}</span></p>
      </td>
      <td width=136 style='width:101.9pt;border:none;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name2}}</span></p>
      </td>
      <td width=120 style='width:1.25in;border:none;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name3}}</span></p>
      </td>
      <td width=120 valign=top style='width:1.25in;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name4}}</span></p>
      </td>
      <td width=126 valign=top style='width:94.5pt;border:none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name5}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span >&nbsp;</span></p>
    
    </div>
</mat-dialog-content>
