<div class=WordSection1>

    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=208 style='width:155.8pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><b><span
      lang=AR-SY style='font-family:"Arial",sans-serif'>الجمهورية العربية السورية</span></b><b><span
      dir=ltr><br>
      </span></b><b><span lang=AR-SY style='font-family:"Arial",sans-serif'>وزارة
      التربية<br>
      مديرية التربية </span></b><span dir=ltr></span><b><span dir=ltr><span
      dir=ltr></span>/</span></b><span dir=rtl></span><b><span lang=AR-SY
      style='font-family:"Arial",sans-serif'><span dir=rtl></span> ادلب</span></b></p>
      </td>
      <td width=236 style='width:176.9pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><b><span
      lang=AR-SA style='font-family:"Arial",sans-serif'>نتائج وصف وتقييم أداء
      العاملين لعام {{data[0].Year_ID}}</span></b></p>
      </td>
      <td width=294 style='width:220.2pt;padding:0in 5.4pt 0in 5.4pt'>
      <div align=right>
      <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
       style='margin-left:43.8pt;border-collapse:collapse;border:none'>
       <tr>
        <td width=161 style='width:120.6pt;border:none;
        padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>التاريخ: {{todayDate | date:'yyyy/MM/dd'}}</span></p>
        </td>
       </tr>
       <tr>
        <td width=161 style='width:120.6pt;border:none;
        border-top:none;padding:0in 5.4pt 0in 5.4pt'>
        <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;
        text-align:center;line-height:normal;direction:rtl;unicode-bidi:embed'><span
        lang=AR-SA style='font-family:"Arial",sans-serif'>{{todayDate | date:'shortTime':'+0200'}}: وقت</span></p>
        </td>
       </tr>
      </table>
      </div>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none' dir="ltr">
     <tr style='height:2.7pt'>
      <td width=233 colspan=4 style='width:174.65pt;border:solid windowtext 1.0pt;
      background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>تواقيع أعضاء اللجنة</span></p>
      </td>
      <td width=65 rowspan=2 style='width:48.8pt;border:solid windowtext 1.0pt;
      border-left:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>مطالعة اللجنة ومقترحاتها</span></p>
      </td>
      <td width=57 rowspan=2 style='width:42.5pt;border:solid windowtext 1.0pt;
      border-left:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>الدرجة النهائية لتقرير
      تقويم الأداء</span></p>
      </td>
      <td width=57 rowspan=2 style='width:42.5pt;border:solid windowtext 1.0pt;
      border-left:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>الأجر الحالي</span></p>
      </td>
      <td width=57 rowspan=2 style='width:42.5pt;border:solid windowtext 1.0pt;
      border-left:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>اسم الوظيفة</span></p>
      </td>
      <td width=120 rowspan=2 style='width:89.75pt;border:solid windowtext 1.0pt;
      border-left:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>الاسم الثلاثي</span></p>
      </td>
      <td width=18 rowspan=2 style='width:13.5pt;border:solid windowtext 1.0pt;
      border-left:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>رقم الحاسوب</span></p>
      </td>
      <td width=56 rowspan=2 style='width:42.1pt;border:solid windowtext 1.0pt;
      border-left:none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>الإضبارة</span></p>
      </td>
     </tr>
     <tr style='height:2.7pt'>
      <td width=63 style='width:47.15pt;border:solid windowtext 1.0pt;border-top:
      none;background:#BFBFBF;padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>ممثل الشؤون الاجتماعية</span></p>
      </td>
      <td width=57 style='width:42.5pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>ممثل التنظيم النقابي</span></p>
      </td>
      <td width=57 style='width:42.5pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>ممثل شؤون العاملين</span></p>
      </td>
      <td width=57 style='width:42.5pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;background:#BFBFBF;
      padding:0in 5.4pt 0in 5.4pt;height:2.7pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif;color:black'>رئيس اللجنة</span></p>
      </td>
     </tr>
     <tr *ngFor="let datum of data">
      <td width=63 style='width:47.15pt;border:solid windowtext 1.0pt;border-top:
      none;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr
      style='font-size:9.0pt'>&nbsp;</span></p>
      </td>
      <td width=57 style='width:42.5pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr
      style='font-size:9.0pt'>&nbsp;</span></p>
      </td>
      <td width=57 style='width:42.5pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr
      style='font-size:9.0pt'>&nbsp;</span></p>
      </td>
      <td width=57 style='width:42.5pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr
      style='font-size:9.0pt'>&nbsp;</span></p>
      </td>
      <td width=65 style='width:48.8pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>يستحق {{datum.GradePercent}}%</span></p>
      </td>
      <td width=57 style='width:42.5pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{datum.QualityGrade}}</span></p>
      </td>
      <td width=57 style='width:42.5pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=rtl></span><span
      lang=AR-SA style='font-size:9.0pt;font-family:"Arial",sans-serif'><span
      dir=rtl></span>{{datum.SalaryBefore}}</span></p>
      </td>
      <td width=57 style='width:42.5pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{datum?.TBLShamelJobName?.jobname_name}}</span></p>
      </td>
      <td width=120 style='width:89.75pt;border-top:none;border-left:none;
      border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{datum?.TBLShamelEmployee?.FName}} {{datum?.TBLShamelEmployee?.LName}} ابن {{datum.TBLShamelEmployee.Father}}
      و{{datum?.TBLShamelEmployee?.Mother}}</span></p>
      </td>
      <td width=18 style='width:13.5pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr
      style='font-size:9.0pt'>{{datum?.TBLShamelEmployee?.Computer_ID}}</span></p>
      </td>
      <td width=56 style='width:42.1pt;border-top:none;border-left:none;border-bottom:
      solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span dir=ltr
      style='font-size:9.0pt'>{{datum.ID}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=312 style='width:233.75pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>يرفع الى السيد محافظ ادلب<br>
      يرجى الاطلاع على نتائج تقييم أداء العاملين من الفئة <br>
      ادلب </span><span lang=AR-SY style='font-family:"Arial",sans-serif'>تاريخ</span></p>
      </td>
      <td width=384 style='width:287.95pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>تنفيذا للفقرة </span><span dir=ltr></span><span
      dir=ltr><span dir=ltr></span>/2/</span><span dir=rtl></span><span
      style='font-family:"Arial",sans-serif'><span dir=rtl></span> <span
      lang=AR-SY>من المادة السادسة من المرسوم رقم </span></span><span dir=ltr></span><span
      dir=ltr><span dir=ltr></span>/323/</span><span dir=rtl></span><span
      lang=AR-SY style='font-family:"Arial",sans-serif'><span dir=rtl></span> تاريخ
      تاريخ</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=0 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=146 style='width:109.6pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title1}}</span></p>
      </td>
      <td width=136 style='width:101.9pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title2}}</span></p>
      </td>
      <td width=120 style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title3}}</span></p>
      </td>
      <td width=120 valign=top style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title4}}</span></p>
      </td>
      <td width=126 valign=top style='width:94.5pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{title5}}</span></p>
      </td>
     </tr>
     <tr>
      <td width=146 style='width:109.6pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name1}}</span></p>
      </td>
      <td width=136 style='width:101.9pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name2}}</span></p>
      </td>
      <td width=120 style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name3}}</span></p>
      </td>
      <td width=120 valign=top style='width:1.25in;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name4}}</span></p>
      </td>
      <td width=126 valign=top style='width:94.5pt;padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-size:9.0pt;font-family:"Arial",sans-serif'>{{name5}}</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span lang=AR-SA style='font-family:"Arial",sans-serif'>&nbsp;</span></p>
    
    <div align=center>
    
    <table class=MsoTableGrid dir=rtl border=1 cellspacing=0 cellpadding=0
     style='border-collapse:collapse;border:none'>
     <tr>
      <td width=156 style='width:116.85pt;border:none;border-top:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>شركة نور</span></p>
      </td>
      <td width=156 style='width:116.85pt;border:none;border-top:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{todayDate | date:'shortTime':'+0200'}}</span></p>
      </td>
      <td width=156 style='width:116.9pt;border:none;border-top:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SA
      style='font-family:"Arial",sans-serif'>{{todayDate | date:'yyyy/MM/dd'}}</span></p>
      </td>
      <td width=156 style='width:116.9pt;border:none;border-top:solid windowtext 1.0pt;
      padding:0in 5.4pt 0in 5.4pt'>
      <p class=MsoNormal align=center dir=rtl style='margin-bottom:0in;text-align:
      center;line-height:normal;direction:rtl;unicode-bidi:embed'><span lang=AR-SY
      style='font-family:"Arial",sans-serif'>صفحة 1</span></p>
      </td>
     </tr>
    </table>
    
    </div>
    
    <p class=MsoNormal align=center dir=rtl style='text-align:center;direction:
    rtl;unicode-bidi:embed'><span dir=ltr>&nbsp;</span></p>
    
    </div>