.title{
    background-color: rgb(151, 151, 32);
}

.container{
display: flex;
justify-content: space-between;
width: 500px;
}

.right, .left{
    margin-left: 10px;
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
    width: fit-content;
}

span{
    padding: 10px;
    margin-bottom: 10px;
}

.rightUp, .rightDown{
    background: transparent;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 10px;
    margin-top: 10px;
}

output{
    background-color: gray;
    padding: 10px;
    margin-top: 10px;
    display: block;
    width: fit-content;
    width: 80px;
  }

  button{
    margin-top: 20px;
  }