@import './theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&display=swap');

/* You can add global styles to this file, and also import other style files */
:host{
    direction: rtl;
}

html, body { height: 100%; }
body { 
    margin: 0; font-family: 'Times New Roman', Times, serif, "Helvetica Neue", sans-serif; font-size: 12; 
    height: 100vh;
    width: 100vw;
}

mat-table
{
    height:100%
}
mat-form-field 
{
    width: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button, span, mat-form-field,:ng-deep .mat-form-field , ::ng-deep mat-label, th, td, label, output{
    font-family: 'Noto Sans Arabic', sans-serif !important;
}

.green-snackbar{
    background-color: green !important;
  }
  
  .red-snackbar{
    background-color: red !important;
  }
