<div class="theme" [class.darkTheme]="darkTheme">
  <h2 mat-dialog-title>مؤهل علمي</h2>
  <c-row>
    <mat-progress-bar *ngIf="LoadingFinish == false" mode="indeterminate" #progressbar></mat-progress-bar>
  </c-row>
  <ngx-hover-opacity [isHoverVisible]="!LoadingFinish">

  <mat-dialog-content class="mat-typography">


    <form [formGroup]="Form" (keydown.enter)="$event.preventDefault()">

      <div class="inputsGroup">
        <div class="group1">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>الشهادة</mat-label>
            <input type="text" matInput [formControl]="certificate_id" formControlName="certificate_id" id="certificate_id"
              [matAutocomplete]="auto_certificate_id" (keyup.enter)="focusNext('specification_id')">
            <mat-error *ngIf="errorHandling('certificate_id', 'required')">
              اختر الشهادة
            </mat-error>
            <mat-error
              *ngIf="((certificate_id.invalid || certificate_id.errors)  && (certificate_id.dirty || certificate_id.touched) )">
            </mat-error>
            <mat-hint
              *ngIf="((certificate_id.invalid || certificate_id.errors)  && (certificate_id.dirty || certificate_id.touched) )">
              <span class="mat-error">اختر الشهادة</span>
            </mat-hint>
            <mat-autocomplete #auto_certificate_id="matAutocomplete" [displayWith]="displayCertificateProperty.bind(this)"
              (optionSelected)="OnSelectCertificateChange($event)">
              <mat-option *ngFor="let option of filteredCertificateOptions | async" [value]="option.certificate_id">
                {{option.certificate_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>الاختصاص </mat-label>
            <input type="text" matInput [formControl]="specification_id" id="specification_id"
            (keyup.enter)="focusNext('graduationyear')" [matAutocomplete]="auto_specification_id">
            <mat-autocomplete #auto_specification_id="matAutocomplete"
              [displayWith]="displaySpecificationProperty.bind(this)"
              (optionSelected)="OnSelectSpecificationChange($event)">
              <mat-option *ngFor="let option of filteredSpecificationOptions | async" [value]="option.specification_id">
                {{option.specification_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>سنة تخرج</mat-label>
            <input matInput type="number" [formControl]="graduationyear" id="graduationyear"
            (keyup.enter)="focusNext('studyduration')"
              [(ngModel)]="Selected_Employee_Education.graduationyear">
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>مدة الدراسة</mat-label>
            <input matInput type="number" [formControl]="studyduration" id="studyduration"
            (keyup.enter)="focusNext('rank_id')"
              [(ngModel)]="Selected_Employee_Education.studyduration">
          </mat-form-field>
        </div>


          

        <div class="group2">
          



          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>التقيم</mat-label>
            <input type="text" matInput [formControl]="rank_id" [matAutocomplete]="auto_rank_id" id="rank_id"
            (keyup.enter)="focusNext('country_id')">
            <mat-autocomplete #auto_rank_id="matAutocomplete" [displayWith]="displayRankProperty.bind(this)"
              (optionSelected)="OnSelectRankChange($event)">
              <mat-option *ngFor="let option of filteredRankOptions | async" [value]="option.rank_id">
                {{option.rank_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>





          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>الدولة</mat-label>
            <input type="text" matInput [formControl]="country_id" [matAutocomplete]="auto_country_id" id="country_id"
            (keyup.enter)="focusNext('city_id')">
            <mat-autocomplete #auto_country_id="matAutocomplete" [displayWith]="displayCountryProperty.bind(this)"
              (optionSelected)="OnSelectCountryChange($event)">
              <mat-option *ngFor="let option of filteredCountryOptions | async" [value]="option.country_id">
                {{option.country_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>المدينة</mat-label>
            <input type="text" matInput [formControl]="city_id" [matAutocomplete]="auto_city_id" id="city_id"
            (keyup.enter)="focusNext('certificate_id')">
            <mat-autocomplete #auto_city_id="matAutocomplete" [displayWith]="displayStateProperty.bind(this)"
              (optionSelected)="OnSelectStateChange($event)">
              <mat-option *ngFor="let option of filteredStateOptions | async" [value]="option.state_id">
                {{option.state_name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
    
      </div>
    </div>
      
      
      
              

            





    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close>
      <mat-icon class="mat-icon-rtl-mirror">close
      </mat-icon>
      اغلاق
    </button>





    <button mat-raised-button color="accent" (click)="onReset()">
      <mat-icon class="mat-icon-rtl-mirror">clear
      </mat-icon>
      مسح الشاشة
    </button>


    <button class="save" mat-raised-button cdkFocusInitial (click)="Save()">
      <mat-icon class="mat-icon-rtl-mirror">save
      </mat-icon>
      حفظ
    </button>

  </mat-dialog-actions>
  </ngx-hover-opacity>
</div>