<div class="theme" [class.darkTheme]="darkTheme">
    <c-row>
        <mat-progress-bar *ngIf="LoadingFinish == false" mode="indeterminate" #progressbar></mat-progress-bar>
    </c-row>
    <ngx-hover-opacity [isHoverVisible]="!LoadingFinish">
    <div class="col-md-12 text-center ">
        <h2 class="white">البحث الموسع</h2>
    </div>
    
    <div>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        مفاتيح البحث
                    </mat-panel-title>
                    <mat-panel-description>
                        من أجل التحكم بالبحث انقر هنا
                        <mat-icon fontIcon="search"></mat-icon>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <form [formGroup]="Form">
                    <button class="clear add" mat-raised-button (click)="clearForm()">مسح محتوى حقول البحث</button>
    
                    <div class="columns">
                        <div class="col-3">
    
                            <div class="form-group col-sm-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>رقم الإضبارة</mat-label>
                                    <input matInput [formControl]="ID" 
                                    id="ID" (keyup.enter)="focusNext('PAYROL_ID')" (change)="clearDataSource()">
                                </mat-form-field>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <mat-form-field appearance="fill">
                                    <mat-label> رقم الشطب</mat-label>
                                    <input matInput [formControl]="PAYROL_ID"
                                    id="PAYROL_ID" (keyup.enter)="focusNext('INSURANCE_ID')" (change)="clearDataSource()">
                                </mat-form-field>
                            </div>
        
        
                            <div class="form-group col-sm-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>رقم التأميني</mat-label>
                                    <input matInput [formControl]="INSURANCE_ID"
                                    id="INSURANCE_ID" (keyup.enter)="focusNext('COMPUTER_ID')" (change)="clearDataSource()">
                                </mat-form-field>
                            </div>
                            <div class="form-group col-sm-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>رقم الحاسب</mat-label>
                                    <input matInput [formControl]="COMPUTER_ID"
                                    id="COMPUTER_ID" (keyup.enter)="focusNext('ID_NUMBER')" (change)="clearDataSource()">
                                </mat-form-field>
                            </div>
                            <div class="form-group col-sm-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>رقم الوطني</mat-label>
                                    <input matInput [formControl]="ID_NUMBER"
                                    id="ID_NUMBER" (keyup.enter)="focusNext('GLOBAL_ID')" (change)="clearDataSource()">
                                </mat-form-field>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>رقم الذاتي</mat-label>
                                    <input matInput [formControl]="GLOBAL_ID"
                                    id="GLOBAL_ID" (keyup.enter)="focusNext('phonenum')" (change)="clearDataSource()">
                                </mat-form-field>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>رقم الهاتف</mat-label>
                                    <input matInput [formControl]="phonenum"
                                    id="phonenum" (keyup.enter)="focusNext('educationId')" (change)="clearDataSource()">
                                </mat-form-field>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> الشهادة</mat-label>
                                    <input type="text" matInput [formControl]="educationId"
                                    [matAutocomplete]="auto_education"
                                    id="educationId" (keyup.enter)="focusNext('specificationId')">
                                    <mat-autocomplete #auto_education="matAutocomplete"
                                        [displayWith]="displayCertificateProperty.bind(this)"
                                        (optionSelected)="clearDataSource()">
                                        <mat-option *ngFor="let option of filteredCertificateOptions | async"
                                            [value]="option.certificate_id">
                                            {{option.certificate_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> الاختصاص</mat-label>
                                    <input type="text" matInput [formControl]="specificationId"
                                    [matAutocomplete]="auto_specification"
                                    id="specificationId" (keyup.enter)="focusNext('JobName')">
                                    <mat-autocomplete #auto_specification="matAutocomplete"
                                        [displayWith]="displaySpecificationProperty.bind(this)"
                                        (optionSelected)="clearDataSource()">
                                        <mat-option *ngFor="let option of filteredSpecificationOptions | async"
                                            [value]="option.specification_id    ">
                                            {{option.specification_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
        
                        </div>
        
                        <div class="col-3">
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> اسم الوظيفة</mat-label>
                                    <input type="text" matInput [formControl]="JobName"
                                    [matAutocomplete]="auto_jobname_id"
                                    id="JobName" (keyup.enter)="focusNext('Class')">
                                    <mat-autocomplete #auto_jobname_id="matAutocomplete"
                                        [displayWith]="displayJobNameProperty.bind(this)"
                                        (optionSelected)="clearDataSource()">
                                        <mat-option *ngFor="let option of filteredJobNameOptions | async"
                                            [value]="option.jobname_id">
                                            {{option.jobname_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> الفئة </mat-label>
                                    <input type="text" matInput [formControl]="Class"
                                    [matAutocomplete]="auto_class_id"
                                    id="Class" (keyup.enter)="focusNext('JobKind')">
                                    <mat-autocomplete #auto_class_id="matAutocomplete"
                                        [displayWith]="displayClassProperty.bind(this)"
                                        (optionSelected)="clearDataSource()">
                                        <mat-option *ngFor="let option of filteredClassOptions  | async"
                                            [value]="option.class_id">
                                            {{option.class_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
        
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> المركز الوظيفي </mat-label>
                                    <input type="text" matInput [formControl]="JobKind"
                                    [matAutocomplete]="auto_jobkind_id"
                                    id="JobKind" (keyup.enter)="focusNext('Department')">
                                    <mat-autocomplete #auto_jobkind_id="matAutocomplete"
                                        [displayWith]="displayJobKindProperty.bind(this)"
                                        (optionSelected)="clearDataSource()">
                                        <mat-option *ngFor="let option of filteredJobKindOptions  | async"
                                            [value]="option.jobkind_id">
                                            {{option.jobkind_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> مركز الوظيفة </mat-label>
                                    <input type="text" matInput [formControl]="Department"
                                        [matAutocomplete]="auto_department_id"
                                        id="Department" (keyup.enter)="focusNext('changereason')">
                                    <mat-autocomplete #auto_department_id="matAutocomplete"
                                        [displayWith]="displayDeparmentProperty.bind(this)"
                                        (optionSelected)="clearDataSource()">
                                        <mat-option *ngFor="let option of filteredDepartmentOptions | async"
                                            [value]="option.department_id">
                                            {{option.department_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
        
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> سبب التبدل</mat-label>
                                    <input type="text" matInput [formControl]="changereason"
                                        [matAutocomplete]="auto_changereason_id"
                                        id="changereason" (keyup.enter)="focusNext('SexName')">
                                    <mat-autocomplete #auto_changereason_id="matAutocomplete"
                                        [displayWith]="displayChangeReasonProperty.bind(this)"
                                        (optionSelected)="clearDataSource()">
                                        <mat-option *ngFor="let option of filteredChangeReasonOptions | async"
                                            [value]="option.changereason_id">
                                            {{option.changereason_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> الجنس </mat-label>
                                    <input type="text" matInput [formControl]="SexName"
                                    [matAutocomplete]="auto_sex_name"
                                    id="SexName" (keyup.enter)="focusNext('nationalityId')">
                                    <mat-autocomplete #auto_sex_name="matAutocomplete" (optionSelected)="clearDataSource()">
                                        <mat-option [value]="'ذكر'">
                                            ذكر
                                        </mat-option>
                                        <mat-option [value]="'انثى'">
                                            انثى
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
        
                            <div>
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> الجنسية</mat-label>
                                    <input type="text" matInput [formControl]="nationalityId"
                                        [matAutocomplete]="auto_nationality_id"
                                        id="nationalityId" (keyup.enter)="focusNext('FNAME')">
                                    <mat-autocomplete #auto_nationality_id="matAutocomplete"
                                        [displayWith]="displayNationalityProperty.bind(this)"
                                        (optionSelected)="clearDataSource()">
                                        <mat-option *ngFor="let option of filteredNationalityOptions | async"
                                            [value]="option.Nationality_ID">
                                            {{option.Nationality_Name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
        
                            
                        </div>
        
                        <div class="col-3">
                                <div class="right">
                                    <div class="form-group col-sm-12">
                                        <mat-form-field appearance="fill">
                                            <mat-label>الاسم</mat-label>
                                            <input matInput [formControl]="FNAME"
                                            id="FNAME" (keyup.enter)="focusNext('LNAME')" (change)="clearDataSource()">
                                        </mat-form-field>
                                    </div>
                
                                    <div class="form-group col-sm-12">
                                        <mat-form-field appearance="fill">
                                            <mat-label> الكنية</mat-label>
                                            <input matInput [formControl]="LNAME"
                                            id="LNAME" (keyup.enter)="focusNext('FATHER')" (change)="clearDataSource()">
                                        </mat-form-field>
                                    </div>
                
                
                                    <div class="form-group col-sm-12">
                                        <mat-form-field appearance="fill">
                                            <mat-label>الأب</mat-label>
                                            <input matInput [formControl]="FATHER"
                                            id="FATHER" (keyup.enter)="focusNext('MOTHER')" (change)="clearDataSource()">
                                        </mat-form-field>
                                    </div>
                
                                    <div class="form-group col-sm-12">
                                        <mat-form-field appearance="fill">
                                            <mat-label> الأم</mat-label>
                                            <input matInput [formControl]="MOTHER"
                                            id="MOTHER" (keyup.enter)="focusNext('searchNameType')" (change)="clearDataSource()">
                                        </mat-form-field>
                                    </div>
                                </div>
        
                                <div class="form-group col-sm-12">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>نوع البحث</mat-label>
                                        <mat-select [formControl]="searchNameType" id="searchNameType" (keyup.enter)="focusNext('Salary')" (selectionChange)="clearDataSource()">
                                            <mat-option value="=">بحث مطابق</mat-option>
                                            <mat-option value="like">بحث مشابه</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
        
        
        
                            <div class="form-group col-sm-12">
                                <mat-form-field appearance="fill">
                                    <mat-label>الراتب المقطوع</mat-label>
                                    <input matInput [formControl]="Salary" id="Salary" (keyup.enter)="focusNext('AccounterSerail_From')" (change)="clearDataSource()">
                                </mat-form-field>
                            </div>
        
                            <div class="form-group col-sm-12">
                                <div class="form-group col-sm-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>التسلسل من </mat-label>
                                        <input matInput [formControl]="AccounterSerail_From" id="AccounterSerail_From" (keyup.enter)="focusNext('AccounterSerail_To')" (change)="clearDataSource()">
                                    </mat-form-field>
                                </div>
                                <div class="form-group col-sm-6">
                                    <mat-form-field appearance="fill">
                                        <mat-label>التسلسل إلى </mat-label>
                                        <input matInput [formControl]="AccounterSerail_To" id="AccounterSerail_To" (keyup.enter)="focusNext('ACCOUNTER_ID')" (change)="clearDataSource()">
                                    </mat-form-field>
                                </div>
        
                            </div>
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> المعتمد</mat-label>
                                    <input type="text" matInput [formControl]="ACCOUNTER_ID"
                                        [matAutocomplete]="auto_ACCOUNTER_ID"
                                        id="ACCOUNTER_ID" (keyup.enter)="focusNext('select')">
                                    <mat-autocomplete #auto_ACCOUNTER_ID="matAutocomplete"
                                        [displayWith]="displayAccounterProperty.bind(this)"
                                        (optionSelected)="clearDataSource()">
                                        <mat-option *ngFor="let option of filteredAccounterOptions | async"
                                            [value]="option.accounter_id">
                                            {{option.accounter_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="col-3">
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> الاشتراك</mat-label>
                                    <mat-select id="select" (keyup.enter)="focusNext('MalakState')" (selectionChange)="clearDataSource()">
                                        <mat-option value="1">جميع العاملين</mat-option>
                                        <mat-option value="3">مشترك بالتأمينات الاجتماعية</mat-option>
                                        <mat-option value="2">مشترك بالتأمين والمعاشات</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
        
        
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label> الوضع ضمن الملاك</mat-label>
                                    <input type="text" matInput [formControl]="MalakState"
                                        [matAutocomplete]="auto_MalakState"
                                        id="MalakState" (keyup.enter)="focusNext('birthDateDay')">
                                    <mat-autocomplete #auto_MalakState="matAutocomplete"
                                        [displayWith]="displayMalakStateProperty.bind(this)"
                                        (optionSelected)="clearDataSource()">
                                        <mat-option *ngFor="let option of filteredMalakStateOptions | async"
                                            [value]="option.malakstate_id">
                                            {{option.malakstate_name}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>
                            
                            
    
                            <div class="form-group col-sm-4">
                                <div class="date">
                                    <span class="white">تاريخ الولادة:</span>
                                    <div class="content">
                                      <mat-form-field class="example-full-width small-width" appearance="fill">
                                        <mat-label>اليوم</mat-label>
                                        <input type="number" matInput [formControl]="birthDateDay" placeholder="ex: 21"
                                        id="birthDateDay" (keyup.enter)="focusNext('birthDateMonth')" (change)="clearDataSource()">
                                      </mat-form-field>
                                      <mat-form-field class="example-full-width small-width" appearance="fill">
                                        <mat-label>الشهر</mat-label>
                                        <input type="number" matInput [formControl]="birthDateMonth" placeholder="ex: 1"
                                        id="birthDateMonth" (keyup.enter)="focusNext('birthDateYear')" (change)="clearDataSource()">
                                      </mat-form-field>
                                      <mat-form-field class="example-full-width small-width" appearance="fill">
                                        <mat-label>العام</mat-label>
                                        <input type="number" matInput [formControl]="birthDateYear" placeholder="ex: 2023"
                                        id="birthDateYear" (keyup.enter)="focusNext('searchBirthDateType')" (change)="clearDataSource()">
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
        
                            <div class="form-group col-sm-4">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>نوع تاريخ الولادة</mat-label>
                                    <mat-select [formControl]="searchBirthDateType"
                                    id="searchBirthDateType" (keyup.enter)="focusNext('qararDateDay')" (selectionChange)="clearDataSource()">
                                        <mat-option value="=">يساوي</mat-option>
                                        <mat-option value=">">أكبر</mat-option>
                                        <mat-option value=">=">أكبر أو يساوي</mat-option>
                                        <mat-option value="<">أصغر</mat-option>
                                        <mat-option value="<=">أصغرأو يساوي</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
        
                            <div class="form-group col-sm-4">
                                <div class="date">
                                    <span class="white">تاريخ المباشرة:</span>
                                    <div class="content">
                                      <mat-form-field class="example-full-width small-width" appearance="fill">
                                        <mat-label>اليوم</mat-label>
                                        <input type="number" matInput [formControl]="qararDateDay" placeholder="ex: 21"
                                        id="qararDateDay" (keyup.enter)="focusNext('qararDateMonth')" (change)="clearDataSource()">
                                      </mat-form-field>
                                      <mat-form-field class="example-full-width small-width" appearance="fill">
                                        <mat-label>الشهر</mat-label>
                                        <input type="number" matInput [formControl]="qararDateMonth" placeholder="ex: 1"
                                        id="qararDateMonth" (keyup.enter)="focusNext('qararDateYear')" (change)="clearDataSource()">
                                      </mat-form-field>
                                      <mat-form-field class="example-full-width small-width" appearance="fill">
                                        <mat-label>العام</mat-label>
                                        <input type="number" matInput [formControl]="qararDateYear" placeholder="ex: 2023"
                                        id="qararDateYear" (keyup.enter)="focusNext('qararDateType')" (change)="clearDataSource()">
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>
        
                            <div class="form-group col-sm-12">
                                <mat-form-field class="example-full-width" appearance="fill">
                                    <mat-label>نوع تاريخ المباشرة</mat-label>
                                    <mat-select [formControl]="qararDateType" id="qararDateType" (keyup.enter)="focusNext('ID')" (selectionChange)="clearDataSource()">
                                        <mat-option value="=">يساوي</mat-option>
                                        <mat-option value=">">أكبر</mat-option>
                                        <mat-option value=">=">أكبر أو يساوي</mat-option>
                                        <mat-option value="<">أصغر</mat-option>
                                        <mat-option value="<=">أصغرأو يساوي</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
    
    
                </form>
    
            </mat-expansion-panel>
    
    
        </mat-accordion>
    </div>
    <button class="search" mat-raised-button style="margin-top: 10px; margin-left: 10px" class="add" (click)="SearchClicked()" accessControl  [FormName]="formname" [CheckedPrivilige]="'00100'">عرض السجلات</button>
    <button mat-raised-button id="excel" (click)="exportToExcel()" [disabled]="dataSource.data[0]== null">
        <mat-icon>view_comfy</mat-icon>
        تصدير الى اكسل
      </button>
    <div class="col-md-12">
        <div class="table-wrap">
    
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
    
    
                <!-- certificate_name Column -->
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الإضبارة</th>
                    <td mat-cell *matCellDef="let element">{{element?.ID}}</td>
                </ng-container>
    
                <ng-container matColumnDef="COMPUTER_ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الحاسوب</th>
                    <td mat-cell *matCellDef="let element">{{element?.COMPUTER_ID}}</td>
                </ng-container>
    
                <!-- rank_name Column -->
                <ng-container matColumnDef="GLOBAL_ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الرقم الذاتي</th>
                    <td mat-cell *matCellDef="let element">{{element?.GLOBAL_ID}}</td>
                </ng-container>
    
                <!-- studyduration Column -->
                <ng-container matColumnDef="INSURANCE_ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الرقم التأميني</th>
                    <td mat-cell *matCellDef="let element">{{element?.INSURANCE_ID }}</td>
                </ng-container>
    
                <ng-container matColumnDef="PAYROL_ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الشطب</th>
                    <td mat-cell *matCellDef="let element">{{element?.PAYROL_ID }}</td>
                </ng-container>
    
                <ng-container matColumnDef="FNAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الاسم</th>
                    <td mat-cell *matCellDef="let element">{{element?.FNAME }}</td>
                </ng-container>
    
                <ng-container matColumnDef="LNAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الكنية</th>
                    <td mat-cell *matCellDef="let element">{{element?.LNAME }}</td>
                </ng-container>
    
                <ng-container matColumnDef="FATHER">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الأب</th>
                    <td mat-cell *matCellDef="let element">{{element?.FATHER }}</td>
                </ng-container>
    
                <ng-container matColumnDef="MOTHER">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الأم</th>
                    <td mat-cell *matCellDef="let element">{{element?.MOTHER }}</td>
                </ng-container>
    
                <ng-container matColumnDef="SEX_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الجنس</th>
                    <td mat-cell *matCellDef="let element">{{element?.SEX_NAME }}</td>
                </ng-container>
    
                <ng-container matColumnDef="NATIONALITY_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الجنسية</th>
                    <td mat-cell *matCellDef="let element">{{element?.NATIONALITY_NAME}}</td>
                </ng-container>
    
                <ng-container matColumnDef="BIRTHDATE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ الولادة</th>
                    <td mat-cell *matCellDef="let element">{{element?.BIRTHDATE | date:'yyyy/MM/dd'}}</td>
                </ng-container>
    
                <ng-container matColumnDef="QARARDATE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ المباشرة</th>
                    <td mat-cell *matCellDef="let element">{{element?.QARARDATE | date:'yyyy/MM/dd'}}</td>
                </ng-container>
    
                <ng-container matColumnDef="JOBNAME_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم الوظيفة</th>
                    <td mat-cell *matCellDef="let element">{{element?.JOBNAME_NAME}}</td>
                </ng-container>
    
                <ng-container matColumnDef="CLASS_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الفئة</th>
                    <td mat-cell *matCellDef="let element">{{element?.CLASS_NAME}}</td>
                </ng-container>
    
                <ng-container matColumnDef="CERTIFICATE_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الشهادة</th>
                    <td mat-cell *matCellDef="let element">{{element?.CERTIFICATE_NAME}}</td>
                </ng-container>
    
                <ng-container matColumnDef="SPECIFICATION_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الاختصاص</th>
                    <td mat-cell *matCellDef="let element">{{element?.SPECIFICATION_NAME}}</td>
                </ng-container>
    
                <ng-container matColumnDef="ACCOUNTER_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>اسم المعتمد</th>
                    <td mat-cell *matCellDef="let element">{{element?.ACCOUNTER_NAME}}</td>
                </ng-container>
    
                <ng-container matColumnDef="ACCOUNTER_ID">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم التسلسل</th>
                    <td mat-cell *matCellDef="let element">{{element?.ACCOUNTER_ID}}</td>
                </ng-container>
    
                <ng-container matColumnDef="SALARY">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الراتب المقطوع</th>
                    <td mat-cell *matCellDef="let element">{{element?.SALARY}}</td>
                </ng-container>
    
                <ng-container matColumnDef="INSURANCESALARY">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الراتب التأميني</th>
                    <td mat-cell *matCellDef="let element">{{element?.INSURANCESALARY}}</td>
                </ng-container>
    
                
    
                <ng-container matColumnDef="MALAKSTATE_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>الوضع بالملاك</th>
                    <td mat-cell *matCellDef="let element">{{element?.MALAKSTATE_NAME}}</td>
                </ng-container>
    
                <ng-container matColumnDef="PHONENUM">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الهاتف</th>
                    <td mat-cell *matCellDef="let element">{{element?.PHONENUM}}</td>
                </ng-container>
    
                <ng-container matColumnDef="CHANGEDATE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ التبديل</th>
                    <td mat-cell *matCellDef="let element">{{element?.CHANGEDATE | date:'yyyy/MM/dd'}}</td>
                </ng-container>
    
                <ng-container matColumnDef="CHANGEREASON_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>آخر سبب تبديل</th>
                    <td mat-cell *matCellDef="let element">{{element?.CHANGEREASON_NAME}}</td>
                </ng-container>
    
                <ng-container matColumnDef="DOCUMENTTYPE_NAME">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>نوع المستند</th>
                    <td mat-cell *matCellDef="let element">{{element?.DOCUMENTTYPE_NAME}}</td>
                </ng-container>
    
                <ng-container matColumnDef="DOC_NUMBER">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم المستند</th>
                    <td mat-cell *matCellDef="let element">{{element?.DOC_NUMBER}}</td>
                </ng-container>
    
                <ng-container matColumnDef="DOC_DATE">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ المستند</th>
                    <td mat-cell *matCellDef="let element">{{element?.DOC_DATE | date:'yyyy/MM/dd'}}</td>
                </ng-container>
    
    
    
    
    
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;let idx=index;"
                [style.background-color]="rowClicked == idx ? 'yellow': 'none'"
                (click)="changeTableRowColor(idx)"></tr>
            </table>
    
            <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
            [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" showFirstLastButtons></mat-paginator>
    
    
        </div>
    </div>
    </ngx-hover-opacity>
</div>