<form action="" [formGroup]="Form" #form="ngForm">
  
  <mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        مفاتيح البحث
      </mat-panel-title>
      <mat-panel-description>
        من أجل التحكم بالبحث انقر هنا
        <mat-icon fontIcon="search"></mat-icon>
    </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="searchGroups">
      <div class="searchGroup1">
        <mat-form-field class="example-full-width fitContent" appearance="fill">
          <mat-label>رقم الإضبارة</mat-label>
          <input matInput type="number" value="" formControlName="id">
        </mat-form-field>
    
        <mat-form-field class="example-full-width fitContent" appearance="fill">
          <mat-label>الاسم</mat-label>
          <input matInput value="" formControlName="fname">
        </mat-form-field>
    
        <mat-form-field class="example-full-width fitContent" appearance="fill">
          <mat-label>الكنية</mat-label>
          <input matInput value="" formControlName="lname">
        </mat-form-field>
    
        <mat-form-field class="example-full-width fitContent" appearance="fill">
          <mat-label>الأب</mat-label>
          <input matInput value="" formControlName="father">
        </mat-form-field>
      </div>

      <div class="searchGroup2">
        <mat-form-field class="example-full-width fitContent" appearance="fill">
          <mat-label>رقم المستند</mat-label>
          <input matInput type="number" value="" formControlName="documentnum">
        </mat-form-field>
    
        <div class="date">
          <span>من تاريخ المستند:</span>
          <div class="content">
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>اليوم</mat-label>
              <input type="number" matInput formControlName="documentdate_From_Day" placeholder="ex: 21">
            </mat-form-field>
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>الشهر</mat-label>
              <input type="number" matInput formControlName="documentdate_From_Month" placeholder="ex: 1">
            </mat-form-field>
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>العام</mat-label>
              <input type="number" matInput formControlName="documentdate_From_Year" placeholder="ex: 2023">
            </mat-form-field>
          </div>
        </div>

        <div class="date">
          <span>الى تاريخ المستند:</span>
          <div class="content">
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>اليوم</mat-label>
              <input type="number" matInput formControlName="documentdate_To_Day" placeholder="ex: 21">
            </mat-form-field>
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>الشهر</mat-label>
              <input type="number" matInput formControlName="documentdate_To_Month" placeholder="ex: 1">
            </mat-form-field>
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>العام</mat-label>
              <input type="number" matInput formControlName="documentdate_To_Year" placeholder="ex: 2023">
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="searchGroup3">
        <mat-form-field class="example-full-width fitContent" appearance="fill">
          <mat-label>رقم الإيصال</mat-label>
          <input matInput type="number" value="" formControlName="eisalnum">
        </mat-form-field>
    
        <div class="date">
          <span>من تاريخ الإيصال:</span>
          <div class="content">
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>اليوم</mat-label>
              <input type="number" matInput formControlName="eisaldate_From_Day" placeholder="ex: 21">
            </mat-form-field>
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>الشهر</mat-label>
              <input type="number" matInput formControlName="eisaldate_From_Month" placeholder="ex: 1">
            </mat-form-field>
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>العام</mat-label>
              <input type="number" matInput formControlName="eisaldate_From_Year" placeholder="ex: 2023">
            </mat-form-field>
          </div>
        </div>

        <div class="date">
          <span>الى تاريخ الإيصال:</span>
          <div class="content">
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>اليوم</mat-label>
              <input type="number" matInput formControlName="eisaldate_To_Day" placeholder="ex: 21">
            </mat-form-field>
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>الشهر</mat-label>
              <input type="number" matInput formControlName="eisaldate_To_Month" placeholder="ex: 1">
            </mat-form-field>
            <mat-form-field class="example-full-width small-width" appearance="fill">
              <mat-label>العام</mat-label>
              <input type="number" matInput formControlName="eisaldate_To_Year" placeholder="ex: 2023">
            </mat-form-field>
          </div>
        </div>
    
      <mat-form-field class="example-full-width fitContent" appearance="fill">
          <mat-label>اسم المعتمد</mat-label>
          <input matInput
                  formControlName="accounter_id"
                  [matAutocomplete]="auto_accounter_id"
                  >
          <mat-autocomplete #auto_accounter_id="matAutocomplete">
            <mat-option *ngFor="let option of List_Accounter_Filter | async" [value]="option.accounter_id">
              {{option.accounter_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="searchGroup4">
        <mat-radio-group formControlName="tax_status">
          <mat-radio-button color="primary" value="1">جميع الحسميات</mat-radio-button>
          <mat-radio-button color="primary" value="2">الحسميات المنفذة</mat-radio-button>
          <mat-radio-button color="primary" value="3">الحسميات غير المنفذة</mat-radio-button>
          <mat-radio-button color="primary" value="4">حسميات دون راتب</mat-radio-button>
        </mat-radio-group>
    
        <div class="imgBox">
            <span>صورة القرار</span>
            <div class="img">
                <img src="" alt="صورة القرار">
            </div>
        </div>
      </div>
    </div>

    

    


    

  </mat-expansion-panel>
</mat-accordion>
      
      
          
    <button id="view" mat-raised-button color="primary" (click)="btnSearchClick()">عرض</button>
    <button mat-raised-button color="primary" (click)="insert()">إدخال</button>
          
  </form>
  
  
  <div class="table-wrap">
  
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
      >
    
    
          <!-- id Column -->
          <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>الإضبارة </th>
              <td mat-cell *matCellDef="let element">{{element?.id}}</td>
          </ng-container>
    
          <!-- payrol_ID Column -->
          <ng-container matColumnDef="payrol_ID">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم الشطب</th>
              <td mat-cell *matCellDef="let element">{{element?.TBLShamelEmployee?.Payrol_ID}}</td>
          </ng-container>
    
          <!-- fullName Column -->
          <ng-container matColumnDef="fullName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>الاسم الثلاثي</th>
              <td mat-cell *matCellDef="let element">{{element?.TBLShamelEmployee?.FullName}}</td>
          </ng-container>
    
          
    
          <!-- percent Column -->
          <ng-container matColumnDef="percent">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>نسبة الحسم</th>
              <td mat-cell *matCellDef="let element">{{element?.percent}}</td>
          </ng-container>
    
    
          <!-- duration Column -->
          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>عدد الأشهر</th>
            <td mat-cell *matCellDef="let element">{{element?.duration}}</td>
          </ng-container>
    
          <!-- documenttype_id Column -->
        <ng-container matColumnDef="documenttype_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>نوع المستند</th>
          <td mat-cell *matCellDef="let element">{{element?.documenttype_id}}</td>
        </ng-container>

        <!-- documentnum Column -->
        <ng-container matColumnDef="documentnum">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>رقم المستند</th>
          <td mat-cell *matCellDef="let element">{{element?.documentnum}}</td>
        </ng-container>

        <!-- documentdate Column -->
        <ng-container matColumnDef="documentdate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>تاريخ المستند</th>
          <td mat-cell *matCellDef="let element">{{element?.documentdate | date:'yyyy/MM/dd'}}</td>
        </ng-container>

        <!-- salary Column -->
        <ng-container matColumnDef="salary">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>الراتب</th>
          <td mat-cell *matCellDef="let element">{{element?.salary}}</td>
        </ng-container>

        <!-- amount Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>المبلغ</th>
          <td mat-cell *matCellDef="let element">{{element?.amount}}</td>
        </ng-container>

        <!-- month_id Column -->
        <ng-container matColumnDef="month_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>عن شهر</th>
          <td mat-cell *matCellDef="let element">{{element?.month_id}}</td>
        </ng-container>

        <!-- year_id Column -->
        <ng-container matColumnDef="year_id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>لعام</th>
          <td mat-cell *matCellDef="let element">{{element?.year_id}}</td>
        </ng-container>

        <!-- edit Column -->
        <ng-container matColumnDef="edit">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>تعديل</th>
          <td mat-cell *matCellDef="let element"><button id="editButton" mat-raised-button color="primary" (click)="editRec(element)">تعديل</button></td>
        </ng-container>

        <!-- delete Column -->
        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>حذف</th>
          <td mat-cell *matCellDef="let element"><button id="editButton" mat-raised-button color="primary" (click)="deleteRec(element)">حذف</button></td>
        </ng-container>
    
    
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" showFirstLastButtons></mat-paginator>
    
    
    </div>