mat-form-field{
    width: fit-content;
    margin-left: 10px;
    margin-bottom: 10px;
}

table{
    width: 100%;
}

th, td{
    text-align: center !important;
    padding: 5px !important;
}

mat-radio-group{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content;
}

mat-radio-button{
    width: fit-content;
}

#view{
    margin-left: 10px;
}

mat-expansion-panel{
    margin-bottom: 20px;
}


.date .content{
    display: flex;
}

.hideDate{
    display: none !important;
}

.small-width{
    width: 90px;
    margin-left: 10px;
}

button{
    margin-bottom: 10px;
}