<h2 mat-dialog-title>المكافئات</h2>
<c-row>
  <mat-progress-bar *ngIf="LoadingFinish == false" mode="indeterminate" #progressbar></mat-progress-bar>
</c-row>
<ngx-hover-opacity [isHoverVisible]="!LoadingFinish">
<mat-dialog-content class="mat-typography">
  <form [formGroup]="Form" >
    <div class="inputsGroup">
      <div class="group1">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label #BOUNS_ID>المكافئة</mat-label>
          <input type="text" matInput [formControl]="bonus_id"
            [matAutocomplete]="auto_bonus_id"
            id="bonus_id" (keyup.enter)="focusNext('reason_id')">
            <mat-error *ngIf="fieldHasErrors(Form, 'bonus_id')">
              {{
                autoPrintFirstErrorMessage(
                  Form,
                  "bonus_id",
                  BOUNS_ID.innerHTML,
                  true
                )
              }}
            </mat-error>
          <mat-autocomplete #auto_bonus_id="matAutocomplete" [displayWith]="displayBonusProperty.bind(this)"
            (optionSelected)="OnSelectBonusChange($event)">
            <mat-option *ngFor="let option of filteredBonusOptions | async" [value]="option.bonus_id">
              {{option.bonus_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label #REASON_ID>السبب</mat-label>
          <input type="text" matInput [formControl]="reason_id"
            [matAutocomplete]="auto_reason_id"
            id="reason_id" (keyup.enter)="focusNext('documenttype_id')">
            <mat-error *ngIf="fieldHasErrors(Form, 'reason_id')">
              {{
                autoPrintFirstErrorMessage(
                  Form,
                  "reason_id",
                  REASON_ID.innerHTML
                )
              }}
            </mat-error>
          <mat-autocomplete #auto_reason_id="matAutocomplete" [displayWith]="displayBonusReasonProperty.bind(this)"
            (optionSelected)="OnSelectBounsReasonChange($event)">
            <mat-option *ngFor="let option of filteredBonusReasonOptions | async" [value]="option.bonusreason_id">
              {{option.bonusreason_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="group2">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label #DOCUMENTTYPE_ID>المستند</mat-label>
          <input type="text" matInput [formControl]="documenttype_id"
            [matAutocomplete]="auto_documenttype_id"
            id="documenttype_id" (keyup.enter)="focusNext('document_number')">
            <mat-error *ngIf="fieldHasErrors(Form, 'documenttype_id')">
              {{
                autoPrintFirstErrorMessage(
                  Form,
                  "documenttype_id",
                  DOCUMENTTYPE_ID.innerHTML
                )
              }}
            </mat-error>
          <mat-autocomplete #auto_documenttype_id="matAutocomplete"
            [displayWith]="displayDocumentTypeProperty.bind(this)"
            (optionSelected)="OnSelectDocumentTypeChange($event)">
            <mat-option *ngFor="let option of filteredDocumentTypeOptions | async" [value]="option.documenttype_id">
              {{option.documenttype_name}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label #DOCUMENT_NUMBER>رقم المستند</mat-label>
          <input matInput type="number" placeholder="12312..." value="Sushi" [formControl]="document_number"
            id="document_number" (keyup.enter)="focusNext('docDateDay')">
            <mat-error *ngIf="fieldHasErrors(Form, 'document_number')">
              {{
                autoPrintFirstErrorMessage(
                  Form,
                  "document_number",
                  DOCUMENT_NUMBER.innerHTML
                )
              }}
            </mat-error>
        </mat-form-field>
        <div class="date">
          <span>تاريخ المستند:</span>
          <div class="dateContent">
            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>اليوم</mat-label>
              <input matInput placeholder="ex: 21" (change)="docDateChange('day')"
              [(ngModel)]='docDateDay' [ngModelOptions]="{standalone: true}"
              id="docDateDay" (keyup.enter)="focusNext('docDateMonth')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>الشهر</mat-label>
              <input matInput placeholder="ex: 1" (change)="docDateChange('month')"
              [(ngModel)]='docDateMonth' [ngModelOptions]="{standalone: true}"
              id="docDateMonth" (keyup.enter)="focusNext('docDateYear')">
            </mat-form-field>

            <mat-form-field class="example-full-width small-width" appearance="fill" >
              <mat-label>السنة</mat-label>
              <input matInput placeholder="ex: 2022"  (change)="docDateChange('year')"
              [(ngModel)]='docDateYear' [ngModelOptions]="{standalone: true}"
              id="docDateYear" (keyup.enter)="focusNext('bonus_id')">
          </mat-form-field>
          </div>
      </div>
        

      </div>
    </div>

        

        

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="warn" mat-dialog-close class="action-button">
    <mat-icon class="mat-icon-rtl-mirror">close
    </mat-icon>
    اغلاق
  </button>





  <button mat-raised-button color="accent" (click)="onReset()" class="action-button">
    <mat-icon class="mat-icon-rtl-mirror">clear
    </mat-icon>
    مسح الشاشة
  </button>


  <button mat-raised-button color="primary" cdkFocusInitial (click)="Save()" class="action-button">
    <mat-icon class="mat-icon-rtl-mirror">save
    </mat-icon>
    حفظ
  </button>

</mat-dialog-actions>
</ngx-hover-opacity>